[2016-11-04 05:35] fengmk2 opened #2 "fail on startserver"
还是 enclose 包里面非 js 文件的问题

[code]

[2016-11-08 03:56] pmq20 opened #5 "windows 10 Pro x64: 6 test failures"
[code]

[2016-11-08 05:37] pmq20 opened #6 "Ubuntu 16.10 x86_64 not ok 320 parallel/test-fs-access"
[code]

[2016-11-08 05:39] pmq20 commented on #5
[code]

[2016-11-08 05:40] pmq20 commented on #5
[code]

[2016-11-08 05:40] pmq20 commented on #5
[code]

[2016-11-08 05:41] pmq20 commented on #5
[code]

[2016-11-08 05:41] pmq20 commented on #5
[code]

[2016-11-17 10:10] #2 closed

[2016-11-22 09:52] #5 closed

[2016-11-22 09:52] #6 closed

[2016-12-01 16:32] ChristopherFry commented on #5
Hi Minqi, I'm seeing the same issues that you were on Windows 10 Professional as well.  Any tips or suggestions on how to resolve these?  Thanks!

[2017-01-27 17:53] danielvieiravega opened #17 "Build a cli app in Windows 10 Enterprise x64"
Hi,
I'm trying to compile a cli application, but it is failing with the following message:

![capture](https://cloud.githubusercontent.com/assets/7685159/22381357/73066f42-e4a8-11e6-8653-8e2d57bdd158.PNG)

I'm using the following ruby version: **ruby 2.4.0p0 (2016-12-24 revision 57164) [i386-mswin32_140]**
Can you help me?

Thanks!

[2017-01-30 15:32] danielvieiravega commented on #17
I solved the problem downloading squashfs_tools for windows from this link:
http://fragilematter.blogspot.com.br/2010/02/squashfs-tools-40-windows-binaries.html

[2017-01-30 15:32] #17 closed

[2017-02-02 17:56] danielvieiravega opened #18 "Generating a cli app in ubuntu"
Hi,
After compiling my node cli app, I try to run the generated executable, but it outputs the following error:
![capture](https://cloud.githubusercontent.com/assets/7685159/22561423/4ade9362-e95f-11e6-959e-ba77b595d01b.PNG)

[2017-02-20 06:23] pmq20 commented on #18
@danielvieiravega Thanks for reporting. It turns out Node.js takes use of all three read system calls, i.e., pread, read, readv, yet we only intercepted one of them to libsquash. I'm working on a fix.

[2017-02-20 07:13] #18 closed

[2017-02-22 02:39] pmq20 opened #20 "need a friendly way to remind user to install mksquashfs"
[code]

可以先用着这个 https://github.com/pmq20/squashfuse/files/691217/sqfs43-win32.zip

我再想想怎么提示用户装这个

[2017-02-22 03:21] pmq20 commented on #20
added prerequisites to install instructions

[2017-02-22 03:21] #20 closed

[2017-02-23 10:33] pmq20 opened #21 "Pass official tests"
https://ci.nodejs.org/

TODO: make it enclose_io_memfs contained.

[2017-02-23 10:34] pmq20 opened #22 "Sign nodec.exe and add icon"

[2017-02-28 07:42] pmq20 opened #23 "hijack CreateIoCompletionPort"

[2017-02-28 10:32] #23 closed

[2017-03-21 06:30] mrtone opened #24 "执行时，内部模块加载pacage.json出错"
[code]

`node_modules/muri/lib/index.js:240:17`
[code]

[2017-03-21 08:40] #21 closed

[2017-03-21 09:07] pmq20 commented on #24
Thanks for reporting. I have locally reproduced.

[2017-03-21 11:04] pmq20 commented on #24
@mrtone Fixed in

https://github.com/pmq20/libsquash/commit/ec44808a0170edb8c8ff2cd5f337d5f8f317098a

and

https://github.com/pmq20/node-compiler/commit/644b93af64736d3ec14dbd6c27efca9f62810faa

[2017-03-23 07:42] pmq20 commented on #24
Released in v0.9.5

[2017-03-23 07:42] #24 closed

[2017-03-23 07:42] #22 closed

[2017-05-05 07:26] mauron85 opened #25 "Are Native modules supported."
Thank you for this amazing compiler.

I tried to compile one of my project which is using [microtime](https://github.com/wadey/node-microtime) native module. I compiled it succesfully, but when I run binary I get following error:

[code]

So my question is. Are native modules supported?

[2017-05-05 08:19] Dexus commented on #25
I dont know node-compiler but did you nodec run with `--npm-package=node-time-uuid` ?
Maybe you need compile native before you can use it?

[2017-05-05 09:52] pmq20 commented on #25
I was planning to scan and statically link all native modules during compile time (theoretically it is totally feasible), but failed to find time to do it. I'll implement it as soon as possible. Thanks for the feedback!

[2017-05-05 15:17] thom-nic opened #26 "armhf support?"
I'm running a nodejs app on an embedded device (think beaglebone black or raspberry pi).  For non-trivial projects, `npm install` takes a significant amount of time on a live device.  Instead I typically do the install from an x86 host using chroot and qemu-user-static.  It seems like this would be great for simplifying app distribution for embedded targets.

I also use gcc-arm-linux-gnueabihf to

[2017-05-05 15:25] maximumdata opened #27 ""It should match the enclosed Node.js runtime version of the compiler.""
Just tried this out using the example provided by the CLI, and got this output:

[code]

Obviously, my local version of node is 7.8.0. Does this mean I need to downgrade to 7.7.3 to use this tool? If so, this is not mentioned anywhere in the README.

[2017-05-05 15:35] pmq20 commented on #27
It does not seem to be a strict requirement. I'll upgrade the runtime to the latest 7.9.0 and consider changing this to a warning this weekend.

[2017-05-05 15:39] pmq20 commented on #26
I have not tested it on ARM yet because of lack of devices. It should work as long as libsquash compiles on ARM since I remember that Node.js already works on ARM.

[2017-05-05 17:24] kommander opened #28 "Use `bin` attribute from package.json instead of `main` (if given)"
Hey @pmq20, thanks for this tool.
The compilation works great on smaller projects and cli tools so far.
Got some issues though with path resolving for assets within the executable,
in a more complex project, will have a deeper look these days and see how it goes.

One thing I noticed was that the compiler uses the `main` attribute in the package.json,
which specifies the `lib` entry point, while `

[2017-05-05 17:47] #28 closed

[2017-05-06 02:11] jerson commented on #27
maybe v7.10.0 :)

[2017-05-06 04:47] pmq20 commented on #27
@jerson Thanks for pointing it out :) Landed in https://github.com/pmq20/node-compiler/commit/68ddd9c9e8ec67c2b037cff049468b363a04311d

Let's wait for the CI and I'll release nodec v0.9.6 once they are all green.

[2017-05-08 10:53] pmq20 commented on #27
Node.js Compiler v0.9.6 (runtime 7.10.0) released! @maximumdata Please check if it solves your problem, thanks!

https://github.com/pmq20/node-compiler/releases/tag/v0.9.6

[2017-05-10 08:31] chintan39 opened #29 "Error when using with with uws"
uws uses native add ons for websockets

"Compilation of µWebSockets has failed and there is no pre-compiled binary available for your system. Please install a supported C++11 compiler and reinstall the module 'uws'"
at native (/enclose_io_memfs/node_modules/uws/uws.js:38:19)
at Object. (/enclose_io_memfs/node_modules/uws/uws.js:42:3)
at Module._compile (module.js:571:32)
at Object.Module._extensio

[2017-05-10 08:37] pmq20 commented on #29
Thanks for reporting. Could you give me a series of steps to reproduce the problem on my local machine? I would definitely fix it once reproduced.

[2017-05-10 08:43] chintan39 commented on #29
1. Create a new project
2. install uws
3. Try one of the examples of uws
    https://github.com/uWebSockets/bindings/blob/master/nodejs/examples/test.js

And then in the project folder I ran the command `./nodec test.js`

[2017-05-10 09:12] And-re commented on #29
I have exactly the same problem.

The only workaround I found to successfully run my server app was to replace uws with ws but it is supposed to be slower so it's not a real solution for my problem.

I tried to use pkg as well but there is a problem with dynamic require statements in some node_modules so node-compiler seems to be the best tool in my case (only support for uws is missing)

I also t

[2017-05-11 01:49] goforward01 commented on #27
Hi, @pmq20 .For some reason, I used nodejs of version 6.10.3, the Latest Version of nodejs. Uh, actually the grpc module and protobuffer is quite strict about the nodejs version, so I'm wandering whether there are some other ways for node compiler to assign the version of nodejs.

[2017-05-11 01:55] goforward01 commented on #27
@pmq20, Uh, I just used node compiler to build my project, while as said before I used grpc in my project. After couples of minutes, the compile job is done and of course, I get the a.out. but it can't work, just like **pkg**, the other tool to bundle the nodejs application. The error result looks like:
[code]
Maybe, node compiler has issue with the addons of nodejs, are there any suggestions abou

[2017-05-11 04:02] pmq20 commented on #27
@goforward01 Thanks for the feedbacks. You have mentioned two problems,

1. One is the problem of binding nodec with a particular node runtime version. I believe the correct way to solve this is to make it available for the user to choose a runtime version (or read from the environment to determine her current used node version) and nodec shall download the source code for her and apply the patch

[2017-05-11 05:28] goforward01 commented on #27
@pmq20 ，Thanks for rapid reply. btw, nice job with node compiler project. And I'll keep an eye on it later on. Really excited about being able to compile node application to single runnable file, and taking times to make it better surely be a worthy thing to do. thxs for excellent work of this project.

[2017-05-11 11:31] chintan39 opened #30 "Cannot complete the process on Linux"
I am running on a 4 core and 4 GB ram machine, but not able to complete the process.

virtual memory exhausted: Cannot allocate memory
deps/libsquash/enclose_io_libsquash.target.mk:95: recipe for target '/tmp/nodec/node/out/Release/obj.target/enclose_io_libsquash/deps/libsquash/sample/enclose_io_memfs.o' failed
make[1]: *** [/tmp/nodec/node/out/Release/obj.target/enclose_io_libsquash/deps/libsquas

[2017-05-11 11:37] pmq20 commented on #30
How big is your project folder? I.e. `/tmp/nodec/_work_dir_`.

[2017-05-11 12:57] chintan39 commented on #30
Its around 55 MB.

[2017-05-12 03:31] pmq20 commented on #30
weird. 55MB shouldn't cause low-memory. How big is `/tmp/nodec/node/out/Release/obj.target/enclose_io_libsquash/deps/libsquash/sample/enclose_io_memfs.c`? What's your gcc and g++ version?

[2017-05-12 03:33] pmq20 commented on #29
@And-re I have not looked into cross-compilation yet. I personally use my Windows 7 box with Visual Studio 2015 to generate the exe.

[2017-05-12 03:34] pmq20 commented on #29
@And-re I am looking into the problem with `uws`. Will reply soon.

[2017-05-12 03:41] pmq20 commented on #29
@And-re Just to give a quick note that `uws` as a npm package alone does not seem to contain any binaries indeed, so the error about `No binaries detected inside node_modules/uws/package.json. error.` does not seem to be a bug.

[2017-05-12 07:07] And-re commented on #29
@pmq20 Thanks for the replies. I'm really excited for the support for `uws`.

Do you think that 500MB executable file on MacOS is normal in case of a game that takes less than 250MB with all the node_modules and assets?

[2017-05-12 09:49] pmq20 commented on #25
@mauron85 Native modules are starting to work on the `master` branch, if you are in a hurry you could clone the repo and run `nodec` from `master` to try it. I'll release it once I have tested it throughly.

![image](https://cloud.githubusercontent.com/assets/13315/25993055/48f39a14-373b-11e7-95cc-fc9a6951c84d.png)

[2017-05-12 09:59] pmq20 commented on #29
@chintan39 Hmm....Native modules are starting to work on the `master` branch, if you are urgent you could clone the repo and run `nodec` from `master` to try it. I'll release it once I have tested it throughly.

![image](https://cloud.githubusercontent.com/assets/13315/25993471/aab32ce6-373c-11e7-8d3e-4afda38cd6ff.png)

![image](https://cloud.githubusercontent.com/assets/13315/25993486/b55398fc-37

[2017-05-12 10:01] pmq20 commented on #29
@And-re I'm confused. Where'd the other half of 500MB go?

[2017-05-12 12:02] And-re commented on #29
@pmq20 Ok, I will try the master branch today.
I don't know, the game itself takes 250MB and I'm also wondering what takes the rest space (Node.js environment?)

[2017-05-12 12:22] raguay opened #31 "https://github.com/scottgonzalez/node-wordpress can't be compiled."
Hi,

If you create the smallest script using the https://github.com/scottgonzalez/node-wordpress library to post a post to a WordPress site, it will not compile. It dies with this message:

clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[1]: *** [/private/var/folders/7m/t5j9b17x4n9gkml89tck1s4c0000gn/T/nodec/node/out/Release/mksnapshot] Error 1
rm de7168347652b

[2017-05-12 19:46] And-re commented on #29
@pmq20 It seems to work, great job!
And suddenly the executable file is only 93.5MB :O but I have to include one "public" folder (with html, css, images, sounds) along the executable file.
Is there any way to move that folder inside the executable file?

[2017-05-13 21:08] And-re commented on #29
@pmq20 so I tried to use the master branch of node-compiler on Windows and it failed (I was trying many times and also cleaning the tmp directory):
https://gist.github.com/And-re/9f6928915b24688bed59e3fd89a4da27
![node-compiler master](https://cloud.githubusercontent.com/assets/328414/26029237/bb036f4e-3830-11e7-8921-126b306532bd.png)

When I used the 0.9.6 version for Windows it compiled successf

[2017-05-15 02:30] pmq20 commented on #29
@And-re Oops, I have not tried win32 yet. Let me fix it right away. Thanks for reporting.

[2017-05-15 02:31] pmq20 commented on #29
@And-re Regarding `93.5MB`, you could go to `your_tmp_dir/__work_dir__/__enclose_io_memfs__` and check if any unwanted files are included. Common pitfall is that `a.out` is accidentally included.

[2017-05-15 07:38] And-re commented on #29
@pmq20 yes, I realized that I had a file like a.out accidentally included.

So I was using ruby to run the nodec file from the master branch like this:
`ruby ..\node-compiler\bin\nodec --tmpdir="C:\Users\And_re\hax-tmp" dist\server\server.js`

How do you generate the nodec.exe file and will it be much faster if I generate the nodec.exe once and use it instead of running ruby?

[2017-05-15 09:44] chintan39 commented on #30
enclose_io_memfs.c is 38M
gcc and g++ version
`gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)`

[2017-05-15 10:20] chintan39 opened #32 "Created binary takes arguments or a configuration file @enhancement"
This can help running a single binary on different servers with different databases or other  #custom configurations.

[2017-05-15 10:23] pmq20 commented on #32
Could you elaborate? I am having a hard time understanding the issue.

[2017-05-15 10:29] chintan39 commented on #32
Its an enhancement for future
Example : If we make a server executable , we will need to pass some configuration that will be dynamic like database IP, app ID, etc.

`./server --appId XXXX --mySQLIP "xx.xx.xx.xx"`

We need to read these arguments in Node.js

[2017-05-15 10:32] pmq20 commented on #32
You could already do so. Just implement it in your Node.js app by reading `process.argv`. Whatever works before compiling should also work after compiling.

[2017-05-15 10:35] chintan39 commented on #32
Great!!
Will try that and let you know

[2017-05-15 10:37] chintan39 commented on #30
Weird, I tried it again today and now it seems to work.

[2017-05-15 10:40] pmq20 commented on #30
@chintan39 `38M` is not a big size. Gcc `5.4` is also a sufficient compiler. I recommend turn off some processes to make room for the compiling process, which consumes quite a lot of system resources. Also, using a machine with a bigger RAM could help.

[2017-05-15 11:47] #30 closed

[2017-05-15 11:47] chintan39 commented on #32
It works!!

[2017-05-15 11:47] #32 closed

[2017-05-15 14:20] gillez opened #33 "Failed compilation - "No such file or directory @ rb_sysopen""
Hi,

I'm trying to compile my node app on MacOS v10.11.6.  It fails with the following error:

[code]

I don't use ruby or rb_sysopen directly in my code, but I guess it's possible that one of the included npm modules do (although a grep in the node_modules directory for rb_sysopen drew a blank).

I am using the following version:
Node.js Compiler (nodec) v0.9.6 (runtime 7.10.0)

Can anyone help w

[2017-05-16 03:01] pmq20 commented on #29
@And-re I generated `nodec.exe` file via [Ruby Compiler](https://github.com/pmq20/ruby-compiler), a less mature project that I was working on in my spare time.

It won't be faster. If you want to make it fast to compile maybe trying out `ccache`(https://ccache.samba.org/manual.html). Or reusing the `--tmpdir` directory, but be aware to keep it in sync with the changes from `master`.

[2017-05-16 03:11] pmq20 commented on #33
Hi Giles,

Thanks for reporting. It's me who used `rb_sysopen`. 😝  `Node.js Compiler` is written using Ruby.

Based on the output it seems not like a big problem. The error happened at the very last step when the compiler is copying the final product from `/var/folders/kz/vj4tms290qq_04ylv6p54ks40000gq/T/nodec/node/out/Release/node` to `nodec_output/app` when it found out that the directory `nodec

[2017-05-16 05:08] pmq20 commented on #31
@raguay Sorry for the delayed reply. I failed to reproduce this error on my local machine. I tried the `Found xxx posts` example on the `node-wordpress` readme and it works fine both before compiling and after compiling. Could you give me more of your error log? Something is hidden before the sentence "linker command failed with exit code". I need the error message of the linker. Thanks.

![image]

[2017-05-16 05:46] mikowiec opened #34 "compiler is out of heap space"
Precondition:
Windows 7 32-bit, available 2320 MB from 3400 MB.
node v7.9.0,
mksquashfs v4.3,
Visual Studio 2015,

Example coffeescript project finished failed:
"sample\enclose_io_memfs.c(166117): fatal error C1060: compiler is out of heap space"

[2017-05-16 05:50] pmq20 commented on #34
Please try using a bigger Virtual Memory

![image](https://cloud.githubusercontent.com/assets/13315/26091568/9727ecde-3a3e-11e7-844f-89126a6b1487.png)

[2017-05-16 05:52] mikowiec commented on #34
Paging File set fixed size: 4990 MB, as recommended

[2017-05-16 07:54] And-re commented on #29
@pmq20 ok, I see.
So if I change one file in my project and try to reuse the `tmpdir` from last time the change won't be reflected? Can I just copy that file manually to `your_tmp_dir/__work_dir__/__enclose_io_memfs__` and reuse the rest of the files in the `tmpdir`?

[2017-05-16 08:47] raguay commented on #31
Well, it's working now. Not sure what's different....other than I wasn't
running another compile at the same time. Could using nodec in two
different project cause a problem?

On Tue, May 16, 2017 at 12:08 PM, Minqi Pan <notifications@github.com>
wrote:

[2017-05-16 11:01] gillez commented on #33
Hi Minqi,

Thanks for the reply.   After creating the output directory and rerunning, the situation has improved. It now compiles and I get an output file.

However, when running this app (it's a web server that uses couchbase) I get an error:

[code]

This file is in the node_modules/couchbase tree.  How do I package this in the output, or point to it as an external file?  The readme does not mak

[2017-05-17 03:21] pmq20 commented on #29
@And-re Changes in your project WILL be reflected. Changes in Node.js Compiler itself WILL NOT.

[2017-05-17 03:24] pmq20 commented on #31
@raguay Probably. `nodec` is not designed to run simultaneously for the moment, as the compile process would reuse the same set of temporary object files, which is potentially problematic. Thanks for reporting!

[2017-05-17 03:25] raguay commented on #31
Okay. Thanks.

On Wed, May 17, 2017 at 10:24 AM, Minqi Pan <notifications@github.com>
wrote:

[2017-05-17 03:26] pmq20 commented on #31
`nodec` should detect this and give a proper error message though. I'll add this to https://github.com/pmq20/node-compiler/blob/master/ROADMAP.md

[2017-05-17 03:28] pmq20 commented on #33
For the first question, it's related to #29, #25 and #27. Native modules are starting to work on the master branch, if you are urgent you could clone the repo and run `nodec` from master to try it. I'll release it once I have tested it thoroughly.

For the second question, I am not quite sure what you are referring to that is missing. Could you give me more details? What do you mean by "it can't f

[2017-05-17 08:51] gillez commented on #33
Hi Minqi,

Sorry for the lack of details on the second issue.  Here's some more info:
My node app runs a web server, delivering files through express.  When a request comes in for the home page I call the following:

[code]

This works perfectly when starting the server directly through node.  However, when running the nodec compiled app, this call gives the following error:

[code]

I guess this

[2017-05-17 16:38] gillez opened #35 "Cross platform build on Mac isn't working on Linux - throwing out of range error"
Please ignore this issue.  It's the wrong forum!  Sorry.

[2017-05-17 16:41] #35 closed

[2017-05-18 05:04] pmq20 commented on #34
@mikowiec Restarting the computer also helps.

[2017-05-22 08:19] oneFlyingSnail commented on #31
@pmq20 Hello, I'm not sure about nodec's command. Can you help me?
![image](https://cloud.githubusercontent.com/assets/27803313/26298494/1d04e580-3f0a-11e7-8c3d-f1bd7346a6ec.png)

[2017-05-22 09:46] pmq20 commented on #31
@oneFlyingSnail You can try downloading https://sourceforge.net/projects/node-compiler/files/v0.9.6/nodec.exe/download and put it inside `C:\Windows` to make it available every where.

[2017-05-23 02:45] oneFlyingSnail commented on #31
@pmq20 谢谢，nodec已解决。SquashFS Tools 4.3的安装和nodec.exe 一样吗？都是放到C:\Windows 下执行？

[2017-05-25 11:40] gillez commented on #33
Hi Minqi,

Do you have any more info on my second issue above?  I'd like to know how to package my html/js files for the client website inside the node app, or whether this should be done another way.  I'm sure it's just me doing something silly or not specifying the assets or something.

Thanks,
Giles

[2017-05-25 18:54] And-re commented on #29
@pmq20 Is it ok to try the version for Windows right now or are there still some issues?

[2017-05-26 03:03] pmq20 commented on #29
@And-re there are still some issues as the CI is not green yet. I'm working on it

[2017-05-26 03:07] pmq20 commented on #33
Hi Giles,

Sorry for the delay. I've been working busily towards nodec v1.0 recently.

Regarding `__dirname`, it really should not output an empty string. If the code `res.sendFile(i"index.html", { root: __dirname + "/public/dist"})` is inside your project, say at `project_root/a/b.js` then `__dirname` should become `project_root/a` before compiling and `__encloes_io_memfs__/a` after compiling, wh

[2017-05-26 06:08] And-re commented on #29
@pmq20 ok, thank you and good luck :)

[2017-05-26 12:55] ptusch opened #37 "Support for linked modules?"
Hello,

I wonder if there are plans to support linked packages for this project?
It would be pretty cool if I could `npm link my_other_cool_package` and then compile it all together.

But when I try that, the program crashes at the point of the require - making links not usable.
Please let me know if you desire a sample "not-working-project" project.

Best regards

[2017-05-26 14:12] intensite opened #38 "Windows Max_Path limitation"
Hello,

I just encountered the 260-character path length limitation. while trying to compile a relatively simple application that uses the Knex.js database abstraction library.

I know this is not a node-compiler problem, but was wondering if you had any workaround.
I've made some research and it appears everyone is blaming each other with this issue (Node.js, NPM, Microsoft, etc..)

Best regards,

[2017-05-26 15:24] gillez commented on #33
Thanks Minqi,

Actually I think that explains it.  The public directory is actually a sub directory of the parent of my app.  My real code is more like ```__dirname + "../public/dist"``` I'll try moving my top level application file to the parent directory and building from there.  From your explanation, I feel confident that will fix it.

I'll update this thread to let you know when I've tried it

[2017-05-26 15:48] intensite commented on #38
I was able to work around most of the problem by flattening the node_modules directory using the instructions mentioned in this article https://scottaddie.com/2015/08/16/npm-vs-windows-max_path-limitation/

I am now having issues with native modules :-(

[2017-05-27 02:38] pmq20 commented on #38
@intensite I've just added support for native modules on the `master` branch and it will be released in nodec v1.0.0 next week.

Regarding the infamous Max. Path issue, my workaround has always been using the npm 4 or later, which generates much flattened `node_modules` structure. Good luck!

[2017-05-27 03:15] pmq20 commented on #37
Thanks for the feedback. I tried `npm link` and It seems to be linking to the outside of project root, which causes the problem.

I think I can add a check procedure at compile time to warn the user that some symbolic link links to the outside of the project. I've added this to https://github.com/pmq20/node-compiler/blob/master/ROADMAP.md

[2017-05-31 10:52] ptusch commented on #37
Thanks for your fast response!

I can confirm, that a link within the project itself does work nicely.

[2017-05-31 11:03] ptusch opened #39 "Support for library only projects?"
Good day,

I was wondering if you are planning to add support for "library only" modules and let them be included using the [bindings modules](https://www.npmjs.com/package/bindings) or similar ones.

This would a pretty cool feature for anyone who is planning to deploy his library without any direct executable code.

What are you thoughts?

[2017-06-02 10:15] pmq20 commented on #34
@mikowiec I forgot to mention, that using x64 toolchain could also help eliminate this problem. Microsoft x64 cl.exe (or even x64_x86 cross tool-chain) will not throw this error when x86 tools throw, based on my experiments.

[2017-06-02 10:17] pmq20 commented on #38
@intensite Also trying put the work directory at the root of your disk, so that the path prefix could be smaller. e.g. `C:\x`

[2017-06-05 09:14] pmq20 commented on #39
Very good idea. My thinking is that we can compile your library into a binary form, allowing the user to require one single binary-looking module and fetch all functionalities of the original library.

One restriction is that your library must only have exactly one entrance. Impossible to `require your_library/a` first then `your_library/b`.

[2017-06-05 09:18] pmq20 commented on #29
Node.js Compiler v1.0.0 released! C++ modules are fully supported now.

https://github.com/pmq20/node-compiler/releases/tag/v1.0.0

@And-re @chintan39 Could you have a try and let me know if it works for you? Thanks!

[2017-06-05 09:19] pmq20 commented on #27
@goforward01 Node.js Compiler v1.0.0 released! Native C++ modules are fully supported now.

https://github.com/pmq20/node-compiler/releases/tag/v1.0.0

[2017-06-05 09:21] pmq20 commented on #26
Sorry for the delay. I am not an expert on cross compiling so I need some time to look into it. There is another PR that seems relevant. I'll reference it here https://github.com/pmq20/node-compiler/pull/36

[2017-06-05 09:22] pmq20 commented on #25
Node.js Compiler v1.0.0 released! Native C++ modules are fully supported now.

https://github.com/pmq20/node-compiler/releases/tag/v1.0.0

@mauron85 Could you have a try and let me know if it works for you? Thanks!

[2017-06-05 14:16] firrae commented on #25
Hey @pmq20,

I just tried this out on an application I'm working on. It says it built but throws:
[code]

Seems like bcrypt wasn't built/included into the build? Is this an error or potentially something I did wrong? I have Node 8 installed on my Macbook and am using V1.0.0.

[2017-06-05 14:23] firrae commented on #25
To note I also get a number of `../deps/libsquash/sample/enclose_io_common.h:38:28: warning: variadic macros are a C99 feature [-Wvariadic-macros]` in the build process. ex:

`../deps/libsquash/sample/enclose_io_common.h:40:29: warning: variadic macros are a C99 feature [-Wvariadic-macros]`

`../deps/libsquash/sample/enclose_io_common.h:49:22: warning: variadic macros are a C99 feature [-Wvariadic

[2017-06-05 18:39] And-re commented on #29
@pmq20 With node 8 I have problems to run my project (after `rm -rf node_modules` and `npm i` or `yarn`).  With node 7.10 everything works.
And when I finally managed to compile my project (after problems with `vcbuild.bat`) I'm getting this error:
![image](https://cloud.githubusercontent.com/assets/328414/26797920/ef4f3584-4a2e-11e7-9f5b-5160e9eeef9f.png)
(in the meantime I renamed the executable

[2017-06-06 00:53] goforward01 commented on #27
@pmq20 Wow，that's awesome! I'll try it in a moment. Thanks for informing me,  and also thanks for the excellent work with **node-compiler**.

[2017-06-06 02:59] goforward01 commented on #27
@pmq20 , Hi, I gave a try to use v1.0.0, and it work fine with everything, while for some reasons I have to use the grpc@1.2.4, but I found the node version at default is v8.0.0, as show below:
[code]
and my nodejs version is the LTS version of v6.10.3.So when I finished my compile process, of course, I got a.out file.While without luck, it reminded me I shouldn't use v8.0.0 to compile my grpc mod

[2017-06-06 08:52] ptusch commented on #39
I think that is a fair restriction since assumptions to the internal structure of a package seem rather untidy.

[2017-06-06 09:12] lexor90 opened #40 "Support arbitrary node.js runtime versions"
Hello,
as discussed already in other issues I think nodec should be able to compile using a user defined node version among whose supported by the applied patches.

I didn't have any chance to test the patches with the v6.x, v7.x and v8.x but since those were versions supported by nodec itself I guess we should have some sort of support for them (by the way I'd really like to add some tests agains

[2017-06-06 09:38] Kenneth111 opened #41 "Failed running ["call vcbuild.bat x64"]"
Hi,
When compiling my codes, I get an error as follows:
**-> Running ["call vcbuild.bat  x64"]
'vcbuild.bat' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
Failed running ["call vcbuild.bat  x64"]**
I looks like this error is related with Visual Studio. Well, I do have vs2015 update 3, but don't install vs2017. Should I install vs2017 to fix this problem? Any ideas?
Many thanks.

[2017-06-06 15:27] ptusch commented on #25
I tried this as well with [sqlite3](https://www.npmjs.com/package/sqlite3) with issues as well:
[code]

My index.js I'm trying to compile:
[code]

I'm using nvm with node8.
I used the fresh nodec@1.0.0

Compiling normal packages works nicely.

[2017-06-07 03:27] pmq20 commented on #41
@Kenneth111 No you do not have to install vs 2017. VS 2015 still works.

vcbuild.bat should be part of the compiler, not from the environement. Could you try run it with the option `--clean-tmpdir`? I am guessing that the tmpdir contains some incomplete source code.

[2017-06-07 03:31] pmq20 commented on #27
@goforward01 I think this is the same issue with https://github.com/pmq20/node-compiler/issues/40   where @lexor90 has detailed proposal regarding supporting arbitrary node.js runtime versions. Let's discuss it there.

[2017-06-07 04:40] pmq20 commented on #40
@lexor90 Thank you very much for the detailed proposal. This is indeed a feature that has been raised a lot of times, the most recent one being https://github.com/pmq20/node-compiler/issues/27#issuecomment-306368154

Assuming local node version does have some advantage when it comes to compiling native modules though. Since C++ native modules are built in the local environment, the ABI versions sh

[2017-06-07 04:42] pmq20 commented on #39
@ptusch Added to 2.x roadmap: https://github.com/pmq20/node-compiler/blob/master/ROADMAP.md

[2017-06-07 06:55] And-re commented on #41
@Kenneth111 @pmq20 I had the same error and the only way to make it work for me was to download node-compiler from github (I guess downloading Node.js from github should also work) and adding the folder with vcbuild.bat to the PATH env variable.

[2017-06-07 06:57] mudcrab commented on #41
I installed all the dependencies listed in the readme, but had the same error.
Solved it by installing: https://github.com/felixrieseberg/windows-build-tools

[2017-06-07 09:07] And-re commented on #41
@mudcrab Somehow, even though I had windows-build-tools installed from the beginning it just wasn't enough in my case.

[2017-06-09 10:44] pmq20 commented on #29
@And-re I failed to reproduce this on my local win32 machine. See the screen-shot. Could you give me a project or minimized project to reproduce the error? Thanks.

![1](https://user-images.githubusercontent.com/13315/26972283-ac114b28-4d43-11e7-9c02-2be06d1aede7.png)

[2017-06-09 10:47] pmq20 commented on #25
@firrae I failed to reproduce this on my local machine. See the screenshot. Could you check your build log to see if some error occurs when building `bcrypt`?

![image](https://user-images.githubusercontent.com/13315/26972359-0dfacea4-4d44-11e7-933d-793d76b4aab6.png)

[2017-06-09 10:47] pmq20 commented on #25
@ptusch Do you have more message regarding this particular failure:

[code]

The error message is too much truncated for a diagnosis.

[2017-06-09 10:54] pmq20 opened #42 "(IMPORTANT) avoid TMPDIR going stale"
See .https://github.com/pmq20/node-compiler/issues/25

[2017-06-09 10:54] pmq20 commented on #25
[Also, have you cleaned your temporary directory that the compiler uses? If old directory generated by nodec 0.x is used then it would be problematic. I should fix this this in a precautionary way.

[2017-06-09 10:56] pmq20 commented on #29
@And-re Also, have you cleaned your temporary directory that the compiler uses? If old directory generated by nodec 0.x is used then it would be problematic. It needs to be cleaned when a compiler of a new version is used. I should fix this in a precautionary way: https://github.com/pmq20/node-compiler/issues/42

[2017-06-09 11:57] And-re commented on #29
@pmq20 Ok, I'm using win64 and I will try to prepare a reproducable example.
Yes, everything was generated using node-compiler 1.0.0. The only problem was that I was out of heap memory 2 times and had to retry 2 times even thought I have over 8000MB of virtual memory set as you described it in another issue on github.

[2017-06-09 11:59] ptusch commented on #25
@pmq20 Please forgive me, I think I forgot to add sqlite3 to the package.json.
I just reinstalled and everything went as expected.

Well done btw!

[2017-06-09 13:17] firrae commented on #25
@pmq20 where would the cache be? I had used nodec before the latest version so that may be it. I'm digging around to see if I can find it on my own.

[2017-06-09 13:42] firrae commented on #25
@pmq20 nevermind, I see it's a command line option. Rebuild seems to have worked well. Now I just need to figure out the sequence of flags needed to include our public folder and it looks like it'll work. This is awesome. Thanks!

[2017-06-09 18:44] And-re commented on #29
@pmq20 so it looks like the problem is with npm 5. Node 8 isn't a problem here.
When I use yarn:
![image](https://user-images.githubusercontent.com/328414/26989569-e06c182a-4d53-11e7-92da-85b7ee06bf6e.png)
When I use npm:
![image](https://user-images.githubusercontent.com/328414/26989628-1d442350-4d54-11e7-8a8c-76b3f562596a.png)

[2017-06-09 19:35] firrae opened #43 "SquashFS Windows Install Instructions?"
Hi there,

I'm not 100% sure how to install the SquashFS you link to in the prerequisites section of the readme. I get that's it's pre-compiled but where do we put the file? I have tried putting it into the PATH on my Windows Server machine but to no luck so far. Any further instruction would be helpful.

Thanks,

Steve

[2017-06-10 12:21] pmq20 commented on #29
@And-re

Using x64 toolchain could also help eliminate the insufficient-memory problem. Microsoft x64 cl.exe (or even x64_x86 cross tool-chain) will not throw this error when x86 tools throw, based on my experiments.

[2017-06-10 12:22] pmq20 commented on #29
@And-re You could also try use the "--npm=..." option to opt out npm.

[2017-06-10 12:24] pmq20 commented on #43
@firrae  You could follow this script which works on our CI Windows Machine:
https://github.com/pmq20/node-compiler/blob/master/appveyor.yml

Otherwise, you could try downloading https://github.com/pmq20/squashfuse/files/691217/sqfs43-win32.zip  and unzipping them to `C:\Windows`.

[2017-06-10 13:49] thegreatkang commented on #43
I'm having the same issue on windows as well. tried unzipping to C:\Windows but its still asking for installation. gives me the following error:

[code]

[2017-06-10 14:15] pmq20 commented on #43
@thegreatkang Please try the following and tell me their output ( in order to diagnose),

First open cmd, then,

[code]

[2017-06-10 15:08] thegreatkang commented on #43
@pmq20 i managed to find the problem by using mksquashfs -version you mentioned, i had to copy out the entire content of the folder onto c:\windows (initially i left it untouched after unzipping). now im running into Failed running ["call vcbuild.bat  x64"] problem, will try to resolve it. thanks for the amazing work!

[2017-06-10 16:06] firrae commented on #43
I will try this as soon as I get back to work on Monday. Thanks!

[2017-06-12 03:55] pmq20 commented on #40
@lexor90 I have generated the current patch file at https://github.com/pmq20/node-compiler/blob/master/diff.erb

Note though that this diff file will go out of date as we commit new changes. We could write an automated script to generate that file to keep it in sync.

Regarding the `erb` extension, I am thinking that different Node.js versions might require slightly different `diff`, which could b

[2017-06-13 14:00] lexor90 commented on #40
@pmq20 Thank you for the reply and sorry for the delay. Have had some work to get done.

We need to be very carefully at generating diffs, because should we remove the `node/` folder we also need some way to get a consensus about which version to develop on. This is needed because if we do develop new features on a v8.x release but wrongly try to generate a diff on a v6.x we also risk to move non-

[2017-06-13 15:22] lexor90 commented on #40
The original implementation I'm testing out makes use of the `diff` and `patch` commands but it requires
1) to have them available (which may be not in an environment != *nix-like, neither on a restricted/sandboxed environment, such as a CI), and
2) to download the same version from the node.js servers (a clean node source code which has not been edited)

Pros:
 * easily generate full diff
Cons:

[2017-06-14 01:23] Kenneth111 commented on #41
I have solved this problem using nodec v0.9.6, nodejs v7.10.0 and running nodec with the option --clean-tmpdir as @pmq20 suggested. However, the same error still appears if I use nodec v1.0 and nodejs 8,0.

[2017-06-14 02:53] pmq20 commented on #41
@Kenneth111 What if you use nodec v1.0 and nodejs 8,0  and again with  option --clean-tmpdir?

[2017-06-14 03:08] pmq20 commented on #40
@lexor90 Thanks for the feedback. After reading your comment, I am beginning to hate the idea of using a single unified diff with a lot of `erb` magic in it, since we have to maintain a lot of Node.js versions.

I just reviewed the upstream active branches ( https://github.com/nodejs/node/branches/active ) and listed the Node.js versions that are currently maintained:
- v8.x
- v7.x
- v6.x
- v4.x

[2017-06-14 03:27] pmq20 commented on #40
@lexor90 After reading your second comment, I feel it's becoming overwhelmingly complicated and seems reasonable to simplify the original requirement a little bit. I think we need to ask ourselves the following 2 questions,
- Do we need support all legacy versions?
- Do we need to support, say, v6.5.0 when v6.x line already has v6.11.0 released?

I observed that (based on the active branch list of

[2017-06-14 07:16] pmq20 commented on #40
Look how cool that is 😆

![image](https://user-images.githubusercontent.com/13315/27119967-7294c576-5114-11e7-9273-4206d39b9a22.png)

[2017-06-14 07:22] fengmk2 commented on #40
Maybe we should follow nodejs lts https://github.com/nodejs/lts

[2017-06-14 07:34] pmq20 commented on #40
@fengmk2 Good point. I think we should drop 7 according to this. Just Argon	Boron	and Carbon 🎉

[2017-06-14 07:39] pmq20 commented on #40
..., yet we have to be prepared for node 9 though, which will come into being on October this year.

[2017-06-14 07:42] pmq20 commented on #40
Appveyor supports matrix CI, too. However that might exceed the one-hour build time limit since there is no concurrency. I'm still waiting for the result. I'll split projects if it does.

![image](https://user-images.githubusercontent.com/13315/27120972-0e748bae-5118-11e7-8b5c-54163e2ea8f8.png)

[2017-06-14 08:45] pmq20 commented on #40
I've applied the current nodec patch to each release line, let's watch how CI goes for them,
- [master 1ca4abf9] apply nodec patch to node4
- [master 0e4524a] apply nodec patch to node6
- [master 05c96b0] apply nodec patch to node

Note that, `node/` folder contains a copy of the bleeding-edge node.js code from upstream. That is not part of CI, though.

Moving forward my thinking is that we still

[2017-06-14 09:11] lexor90 commented on #40
Ehy there,
nice to read you've already setup the CI.

I don't know how should we evaluate your purpose to pick only the latest minor/patch release for each release line (e.g. v6.x, v7.x, etc). Theoretically it should be safe for small developers, because it also enforces to pick the latest release for each major version (which is good because you get all the optimizations and security patches), bu

[2017-06-14 09:21] lexor90 commented on #40
@pmq20 well, if we put all node versions in our repo we fix the networking issue at runtime, but I don't think I'd put it inside our repo. Because then we have to update and maintain 4 different node source code.

I made some thoughts about the networking issue: almost any node project uses npm packages (yarn/npm, no matter) but CI servers for a node project hardly can be offline. I'd work on the

[2017-06-14 09:55] lexor90 commented on #40
@pmq20 I'm going to create a branch to make this changes, so that you'll be able to test them out:

1) remove node versions rather than the current one
2) compiler will take an additional argument --node-version which will verify the major version against the node.js website so we're sure we can proceed
3) download the current version (vanilla) to extract a patch at runtime
4) (possibly concurrent

[2017-06-14 09:57] pmq20 commented on #40
@lexor90 Interesting. I like the idea on minimizing our amount of work on maintenance. The current way of having so many node sources in one repo does not seem last for a long period of time since it requires too much maintenance.

I agree with you on the idea of downloading source and applying patches. However we are also faced with the issue of difference between numerous Node.js versions.

I th

[2017-06-14 10:20] pmq20 commented on #40
@lexor90 Wow just saw your third comment after replying my previous one 😄  It offers a better idea than mine. Generating the patch dynamically at runtime sounds very cool, that further minimizes our burden by eliminating the burden of maintaining the patch itself.

My previous idea of applying patch via Ruby script also have another problem of not being idempotent and requires a hell lot of code t

[2017-06-14 11:29] lexor90 commented on #25
Closing this as native modules support has been added in v1.0.0.
Feel free to re-open it should you need it

[2017-06-14 11:29] #25 closed

[2017-06-14 11:30] lexor90 commented on #26
I'm going to merge support for cross-compilation so that you will be able to cross-compile using nodec, feedbacks are welcome since we didn't test it on an arm platform.

[2017-06-14 21:01] lexor90 commented on #42
@pmq20 This is only partially avoidable at the moment, because the user can use the `--tmp-dir` option which would still be the same whenever you upgrade (assuming one is using it). So if I call nodec with `--tmp-dir=/tmp/myproj` any patch you'd put would result useless in this case.

A better solution IMO is to create an inner directory under the current `tmpdir` so that the resulting path is `/t

[2017-06-14 21:43] lexor90 commented on #27
Closing, let's talk to the referenced issue. Feel free to open it again should you need it.

[2017-06-14 21:43] #27 closed

[2017-06-15 01:18] Kenneth111 commented on #41
@pmq20 I have tried. It doesn't work.

[2017-06-15 03:13] pmq20 commented on #41
@Kenneth111 Could you give me the full log to inspect the problem?

[2017-06-15 13:35] snewell92 opened #44 "Prerequisites on Windows"
The [installation instructions](https://github.com/pmq20/node-compiler#install-on-windows) say to install both **VS 2013** and **VS 2017** - why both? In another issue (#43) I saw [that the CI build was referenced](https://github.com/pmq20/node-compiler/blob/master/appveyor.yml)  - would following the CI commands suffice to complete the pre-reqs and then install nodec?

If so, could the installati

[2017-06-15 15:29] JamesMGreene commented on #40
Eager for this capability to land! :+1:

[2017-06-18 08:14] jmls opened #45 "Multiple processes"
This really looks like a cool and interesting project. One thing I can't seem to find out about is multiple processes.

We use pm2 (and looking at the node 8 cluster https://nodejs.org/api/cluster.html#cluster_how_it_works) and I was wondering how this would work using node-compiler

thanks

[2017-06-18 14:17] BirkhoffLee opened #46 "Yarn support"
Hello, does this support yarn? Thanks

[2017-06-19 13:13] lexor90 commented on #40
Hello there, just an update. I'm working on this right now, as soon as I get it to work I'll push so you can test it out. I'm going a bit slower than I wanted these days since I have some work to get done.

[2017-06-19 14:00] MM2404 opened #47 "No such file or directory @compiler.rb"
after running nodec .\app\app.js --output=output/app I was encountering the following error:

-> cd D:/inetpub/wwwbasis/MyMemo
-> cd C:/Users/Admin/AppData/Local/Temp/nodec/__work_dir__/__enclose_io_memfs__
D:/__enclose_io_memfs__/_local_/lib/compiler.rb:173:in ``': No such file or directory - git status (Errno::ENOENT)
        from D:/__enclose_io_memfs__/_local_/lib/compiler.rb:173:in `block in

[2017-06-20 16:40] JamesMGreene opened #48 "Failed running mksquashfs"
Failed running *mksquashfs*:

[code]

[2017-06-20 18:24] JamesMGreene commented on #48
FYI, adding the `--debug` flag didn't give any additional info other than some info on the Node modules installed.

[2017-06-21 17:57] firrae commented on #43
This seems to be working now. I will update if there are any other issues I encounter.

Thanks!

[2017-06-21 17:57] #43 closed

[2017-06-22 13:55] chintan39 commented on #29
@pmq20 Tried the latest version 1.1.0 , works well now 🎉

[2017-06-22 20:36] JamesMGreene commented on #48
Any ideas here, @pmq20 et al?

[2017-06-23 05:38] chintan39 opened #49 "error while loading shared libraries"
Downloaded the latest version 1.1.0 on Ubuntu 14.04
When running the command I get below error

./nodec: error while loading shared libraries: libreadline.so.5: cannot open shared object file: No such file or directory

[2017-06-23 11:03] Fov6363 opened #50 "Example not run,/__enclose_io_memfs__/node_modules/.bin/egg-bin"
一.by example,but not can run.

[code]
二.ENV:
[code]
thanks

[2017-06-23 11:44] MM2404 commented on #47
Because of a mistake which was my fault, I was able to run nodec on my project. I am using the Node Version Manager and Node v4.4.7 was activated and I started nodec which failed with the error message from my first post. After that  I switched the Node Version to the suggested v8.1.1 without "--clean-tmpdir" and the compilation was going on.  The output was useless and now I have to find out why.

[2017-06-24 05:26] m31271n commented on #49
The same issue.

[2017-06-25 14:50] pmq20 commented on #48
wow this is weird. And the log did not give enough information. Would you love to share uyour work dir with me so that I can inspect what inside caused the problem?

[2017-06-25 14:52] pmq20 commented on #46
Yes it does. Try --npm=yarn

[2017-06-25 14:54] pmq20 commented on #47
The error looks like that git is not installed.

[2017-06-25 14:56] pmq20 commented on #45
Whatever works before should also work after compiling. Could you be more specific about the issue? Like the steps to reproduce an expected situation. Thanks.

[2017-06-25 14:58] pmq20 commented on #44
It's not both. Either should suffice. Let me update the readme. Following CI commands could serve as a good example to make it work.

[2017-06-26 07:15] pmq20 commented on #49
@chintan39 @m31271n I apologize. This is certainly my problem. Let me fix this as soon as possible. Thanks for reporting!

[2017-06-26 07:30] pmq20 commented on #49
Meanwhile if it was urgent you could workaround this via `sudo apt-get install libreadline5`

[2017-06-26 13:00] snewell92 commented on #44
Thanks @pmq20

[2017-06-26 13:00] #44 closed

[2017-06-26 14:24] firrae commented on #41
I am getting this error as well. I am using Node v8.1.1 and Nodec 1.1.0. I have installed windows-build-tools as @mudcrab pointed out and restarted the box I was using but still ended up with `Failed running ["call vcbuild.bat x64"]`. I am about to try @And-re pointed out next I guess.

[2017-06-26 14:29] firrae commented on #41
UPDATE: After noticing I had a weird Python error in the log as well I realised that windows-build-tools don't automatically put Python in the env so once I flagged that and reinstalled, it seems to be working now. We'll see once the build is done!

[2017-06-27 19:01] TheNoim opened #51 "Possibility to exclude files"
I wish there would be a option to exclude directory's and files.

[2017-06-28 02:08] pmq20 commented on #51
@TheNoim thanks. Added to roadmap: https://github.com/pmq20/node-compiler/blob/master/ROADMAP.md

[2017-06-28 10:34] dunklesToast commented on #48
Getting the same error :/
Is there any special thing I could do wrong while installing mksquash?

[2017-06-28 14:32] JamesMGreene commented on #48
@dunklesToast: I did the same.

[2017-06-28 14:34] JamesMGreene commented on #48
@pmq20: Sorry to say but I will unfortunately not be able to share that given it's full of proprietary code. 😕

[2017-06-28 14:46] dunklesToast commented on #48
I solved it with changing the temp directory.
try the -d /tmp/ flag

On 28. Jun 2017, 16:40 +0200, James M. Greene <notifications@github.com>, wrote:

[2017-06-28 14:50] firrae opened #52 "Cross Windows Support for Native Modules?"
Hey there,

So I have a quick question about running the compiled executables on different versions of Windows. I've been understanding that native modules need to be built on their target platform for a while now and the idea of compiling a Node application with native modules brings up a question to me. If I were to compile an application with native modules on Windows 7 using nodec, would that

[2017-06-28 16:08] lexor90 commented on #52
Hello,
I guess this is very specific to each native module.

I don't have much experience on windows platforms but I guess that as long as the modules you're referring to do work on different windows applications once installed/compiled (that is you move the whole node application including the `node_modules/` folder) so will they once compiled and vice versa.

So speaking out of experience on *ni

[2017-06-28 16:13] lexor90 commented on #51
@TheNoim thanks for the suggestion. May I ask a concrete example where this would be useful?

I can only think of excluding `tests/` and other assets in order to reduce the binary size, but unless your project has images or other heavy assets I don't think it would be much different.

[2017-06-28 16:23] TheNoim commented on #51
This is exactly the reason why I want this feature. If you have things like a demo gif in your repo or useless md files or anything else what only is important while developing. Or even file which a still in developing but already in the src root. I think it is such a basic feature.

[2017-06-28 16:33] firrae commented on #52
I plan on doing some tests, but I was partially hoping this might solve an issue I'm having with node-oracledb and Windows Server 2012R2. I'll play with it though.

[2017-06-28 16:38] lexor90 opened #53 "Auto-update"
I think we should write down a small example describing the usage of `auto-update` inside our README.md since only exposing the flags may not be trivial to new users.

@pmq20 may it be possible to better clarify how often it will check the specified URI for updates and maybe make it settable?

[2017-06-28 16:44] lexor90 commented on #52
May it be related to a different configuration of oracledb between the two platforms?
Or maybe some oracle-specific settings is changing between them.

BTW it depends upon the error itself, but I don't think the compilation process will do some magic to avoid the actual problem, since at runtime the two compare the same way (the logic node-oracledb performs with plain node does not differ from wha

[2017-06-28 16:44] #52 closed

[2017-06-28 16:45] lexor90 commented on #26
Closing this in favor of #36 to avoid redundant issues. Feel free to re-open this should you need it.

[2017-06-28 16:45] #26 closed

[2017-06-28 16:46] lexor90 commented on #29
Closing this as it has been fixed. Feel free to re-open this ticket should you need it.

[2017-06-28 16:46] #29 closed

[2017-06-28 17:17] rahbari opened #54 "9 issues and thoughts; show diff made to the node source code"
Dear @pmq20, Thank you so much for the great work. I tested your Node compiler and it's outstanding. But I have some issues and thoughts to share with you.

1- I don't know much about C++ compiling, but it seems Node Compiler compiles all the C files each time and the whole build process takes so long even on a high-end machine. Is it possible to cache intermediate C++ objects before linking to re

[2017-06-28 17:22] rahbari commented on #51
@lexor90 It's also useful when you use preprocessors like Stylus.  In packaged version, it's possible to include just the generated CSS files and exclude Stylus files.

[2017-06-29 04:14] pmq20 commented on #54
Hello @rahbari , Thanks for the detailed feedback!

1- As long as the same temporary directory is used, the build time is much shorter after the 1st run. See the argument `--tmpdir`.

2- Currently this is not yet supported but we definitely have ways to achieve it. In addition to stylus I know some frameworks that do create temporary files in a location relative to the project root, so it is valua

[2017-06-29 05:05] rahbari commented on #54
Dear @pmq20 thank you for the fast reply.

1,4,5- It seems readme.md doesn't fully cover these aspects of your Node Compiler.

2- What amazes me is Stylus doesn't create any CSS output files on disk (just an empty enclose_io_memfs directory) with the current compiler, and I wonder how does it work although fs.wrtieFile create files on the disk.

6- I wonder if it's possible to exclude built-in nod

[2017-06-29 07:10] pmq20 commented on #53
Yes. I am working on limiting number of checks to once per day via recording into `~/.libautoupdate`. Development has been moved into https://github.com/pmq20/libautoupdate

I'll update the document once it is stable.

[2017-06-29 19:08] JamesMGreene commented on #48
Using the `-d` flag did **NOT** resolve this issue for me.

[2017-06-29 21:40] rahbari commented on #54
Can you fork the node.js repo as ./lib instead of copying its files so we can see what has been changed?

[2017-07-02 13:15] NemoAlex opened #55 "No module named gyp.common"
Hi,
I just try to compile [zeit/serve](https://github.com/zeit/serve) on macOS 10.12.5
After `./nodec --npm=yarn bin/serve.js` it says:

[code]

[2017-07-03 05:00] pmq20 commented on #55
Which version of Python are you using?

Also try --clean-tmpdir

NemoAlex <notifications@github.com>于2017年7月2日 周日21:15写道：

[2017-07-03 05:07] NemoAlex commented on #55
@pmq20 Python 2.7.10

[2017-07-03 05:10] NemoAlex commented on #55
Looks like `--clean-tmpdir` works.
I'll report to you later.

[2017-07-03 05:17] pmq20 commented on #55
Thanks for letting me know. I'm guessing the operating system has recycled
some files in the temp dir. when was your tmp dir first created?

NemoAlex <notifications@github.com>于2017年7月3日 周一13:10写道：

[2017-07-03 05:26] NemoAlex commented on #55
Compile complete. No errors.
I didn't remember all the details that happend last night.

[2017-07-03 06:59] pmq20 commented on #55
Allow me to rename the title to record the mystery

[2017-07-03 07:02] pmq20 commented on #48
@JamesMGreene This seems to be a bug in mksquashfs. Could you just run mksquashfs on your work dir to confirm this? If it fails you could try deleting some content of your work dir to filter out the culprit.

[2017-07-03 08:44] pmq20 commented on #54
@rahbari Allow me to edit the title to remind me of the 9 great issues mentioned here.

Regarding forking the node.js repo instead of copying its files, it's kind of hard to change to that route since we are already not forking it with hundreds of commits. Also the source code come from the tar-ball releases of Node.js instead of from the git repository. I recommend applying some git magic to your

[2017-07-03 10:29] rahbari commented on #54
Dear @pmq20, thank you so much. An even better way is to store unmodified node.js and modifications in different folder and just before compiling copy merge them.

[2017-07-04 15:50] Ni-vek opened #56 "Raspbian compile"
Hi,

First thank you for your awesome job.
I need to compile my node app for raspberry pi. The compiled sources don't work on raspbian.
I've tried to clone the repo and launch the compiler directly from bin/nodec. That works until the ".configure" part. See the picture.
![nodec](https://user-images.githubusercontent.com/5821363/27836777-2ebaac3a-60e1-11e7-81a3-8a10b43e078c.png)

Any idea?

[2017-07-05 08:20] pmq20 commented on #54
Issue 2 has been implemented! Have not tried it with stylus yet but will do it soon.

https://github.com/pmq20/libsquash/commit/16f038be49f0bf1779f416cb06a3d9cb2506469e

[2017-07-05 08:29] Ni-vek commented on #56
Seems to be simply a permissions "issue"... I am ashamed...

[2017-07-05 08:29] #56 closed

[2017-07-06 04:14] pmq20 opened #57 "Avoid accidentally include a.out when compiling again"
... which results in a exe weighting hundreds of megabytes.

[2017-07-06 11:12] pmq20 commented on #42
@lexor90 This is a very good point and the idea proposed looks very nice. Let me change the title to reflect this.

This very problem is now of a high priority as auto-update has been enabled since nodec v1.2.0. Nodec now checks with the latest version returned from the http://enclose.io server. This issue has to be resolved before releasing nodec v1.3.0; otherwise the auto-upgraded compile proces

[2017-07-06 11:21] pmq20 commented on #49
@chintan39 @m31271n I have fixed this once and for all in nodec v1.2.0. Please try it and let me know if it works for you. Thanks!

https://github.com/pmq20/node-compiler/releases/tag/v1.2.0

|                       | Architecture |           Latest&#160;Stable                 |
|:---------------------:|:------------:|----------------------------------------------|
|      **Windows**      |    x86

[2017-07-06 13:49] m31271n commented on #49
Awesome. It works. THX.

[2017-07-06 13:50] m31271n commented on #49
Cann't wait make a node-compiler ebuild for my gentoo box. :rofl:

[2017-07-07 01:26] m31271n opened #58 "/lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found"
I know, this is a problem of shared lib.

I compiled my app on a gentoo box with glibc-2.23. Then put it on a CentOS  7 box with glibc-2.17.
+ gentoo box: run compiled app perfectly.
+ centos 7: Bang with following information:

[code]

Do not know how to solve this problem. Can you help to solve it? What kind of information should I provide for you ?

[2017-07-07 07:14] kangchals opened #59 "Example code is not working"
Hello,

I tried to use node-compiler but I failed to run example code

[code]
`npm install` was fine but `nodec node_modules/.bin/egg-bin` emit error like below
`Cannot find entrance C:/Users/kangcs.SOLID/myTest/examples/node_modules/.bin/egg-bin.`

Thank you!

Additional Questions
1. Can you give more details how to use node-compiler?
2. I want to make my hapi server to binary file for distributi

[2017-07-07 09:09] pmq20 commented on #58
Obviously you are using a more recent version of gcc/g++ on your build environment than your run-time environment. Just use an older version of toolchain when compiling could solve the problem.

[2017-07-07 09:10] pmq20 commented on #59
duplicated with https://github.com/pmq20/node-compiler/issues/50

[2017-07-07 09:10] pmq20 commented on #50
Another similar issue: https://github.com/pmq20/node-compiler/issues/59

[2017-07-07 09:11] m31271n commented on #58
Got it.

[2017-07-07 09:57] kangchals commented on #59
It very is nice to check the issue very quickly.  Good.
I want to give more information on the environment.
The OS is windows10 and I follow the installing step carefully.
Thank you~

[2017-07-07 11:01] m31271n commented on #58
By the way, is there any way to build universal binary to run on all linux regardless of the compile environment?

[2017-07-08 03:00] pmq20 commented on #58
I don't thin kthere is

[2017-07-08 03:38] pmq20 commented on #59
@kangchals I think the problem is that you have `cd`'ed into `C:/Users/kangcs.SOLID/myTest/examples` instead of `C:/Users/kangcs.SOLID/myTest/examples/helloworld`.

I have not used hapi.js before but a slim onto the document shows that you should probably set the ENTRANCE to be `server.js` as in the example of https://hapijs.com/

[2017-07-08 03:39] pmq20 commented on #59
@kangchals Please let me know if it works now, thanks

[2017-07-08 04:29] #58 closed

[2017-07-10 02:28] kangchals commented on #59
Sorry, my mistake...

Now, `nodec node_modules/.bin/egg-bin`  works fine after I add global path for sqfs43-win32.

The result of `nodec` is a.exe, However, it is not working.

After executing a.exe, the error message is showing like below.

[code]

[2017-07-12 02:28] cloverhx opened #60 "How long will it take to run the program?"
Hi,

When I'm trying to run the examples, it took me nearly 20 minutes to run...
I followed your instructions and there weren't any mistakes. So could you tell me how long will it take on average to run this?

Thank you

[2017-07-12 02:33] rahbari commented on #60
It depends on your CPU, It takes about 5 minutes on i7-7700K mostly at 100% usage!

[2017-07-12 09:31] pmq20 commented on #60
It also depend on the -jX argument passed to make. You could adjust it via `--make-args`.

Currently we use `-j4` as default.

[2017-07-13 14:44] firrae commented on #41
Hm, I am getting this again now, even with the `--clean-tmpdir` flag. I had thought it was due to my memory but after increasing it on my Windows build server to 16GB it's still throwing this without and noticeable error.

Any idea on how to fix this?

[2017-07-14 15:04] firrae commented on #41
After adding RAM it seems to have solved the problem. I needed 16GB of actual RAM and 8GB of virtual memory to build my project, it also took about 30 minutes, but it all works 😄!

[2017-07-15 08:35] pmq20 commented on #41
@firrae Congratulations

[2017-07-15 09:35] #42 closed

[2017-07-15 11:54] Huyangfan opened #61 "how to get the right application working directory, not /__enclose_io_memfs__/"
I compiled my node project with nodec-x64.exe v1.2.0 on windows 10, everything works fine except that when I use 'path.normalize(__dirname + '/..')' it turns out to be like 'C:\\__enclose_io_memfs__\...' instead of my real application directory(c:\Users\frank\github\myapp\).
I tried to specify the root using 'nodec.exe  --root=./  server.js ', results the same.
so how can I get the right working d

[2017-07-17 08:29] Ni-vek opened #62 "Buffer size"
Hi,

For an app that uses modbus and mbus communication, in a Raspberry, I have this error
`RangeError: "size" argument must not be larger than 1073741823`

This error is only thrown with the compiled app, not with the sources...weired...

[2017-07-17 11:35] CocaCola183 opened #63 "Cannot complete the process on Linux"
### env

* centos: 6.8 (Final)
* SquashFS Tools 4.3
* gcc and g++ 4.8.2
* clang 3.4.2
* Python 2.6 or 2.7
* GNU Make 3.81
* node 8.1.3

### just compile `console.log("hello world")`
[code]

### error info
[code]

[2017-07-17 12:51] Ni-vek commented on #63
It works like a charm with nodec 1.3.0 on OSX

Have you tried running nodec with sudo?
Have you tried to chmod the tmp folder with 777?

[2017-07-17 13:44] CocaCola183 commented on #63
@Ni-vek test on centos and run the compile command with sudo, still got the same error

[2017-07-17 14:43] pmq20 commented on #63
There seems to be an some assembly that is not supported by your assembler. What is your CPU architecture? Could you try using gcc and g++ 4.9 or later?

[2017-07-17 15:40] CocaCola183 commented on #63
@pmq20 CPU architecture is x86_64

[2017-07-17 23:59] CocaCola183 commented on #63
@pmq20 When I installed gcc and g++ 4.9.3, I got similar error info when running make:
[code]
It might be  something wrong with `make`?

[code]

[2017-07-18 02:14] pmq20 commented on #63
@CocaCola183 After some Googling, some people say that the following commands fixed their problems.

[code]

[code]

[2017-07-18 03:05] CocaCola183 commented on #63
@pmq20 Wonderful，It's done, thank you very much.

[2017-07-18 03:06] #63 closed

[2017-07-19 12:34] firrae commented on #52
Hey @lexor90, so I did some follow-up testing and it seems that a nodec built application with node-oracledb and bcrypt is able to be built on Windows Server 2012R2 and will run on Windows 8.1, 10, and Windows Server 2016. Node-oracledb has some extra dependencies that need to be on the host system, but there is no seeable compatibility issue when those exist.

[2017-07-19 15:37] geekycompy opened #64 "Unable to compile my js using nodec"
This is what I see when I try to compile my js. Why is it saying no module named nodedownload? Please help....
[code]

[2017-07-20 01:50] pmq20 commented on #64
It appears `/tmp/nodec` is incomplete, either remove that temporary folder or run with `--clean-tmpdir`.

[2017-07-20 04:54] geekycompy commented on #64
ok,I'll try that and get back asap...

[2017-07-20 04:55] geekycompy opened #65 "Error during compilation..."
Hi,
On a different machine, when I try to compile,I get this error...

[code]
Please help..

Thanks.

[2017-07-20 10:54] geekycompy commented on #64
It has failed again...
[code]

Please help me..

[2017-07-20 10:55] pmq20 commented on #65
Is memory too low for that machine? The log is too much truncated. Could you share more?

[2017-07-20 10:56] pmq20 commented on #64
@geekycompy virtual memory exhausted: Cannot allocate memory
tmp/nodec/node-v8.1.4/out/Release/.deps//tmp/nodec/node-v8.1.4/out/Release/obj.target/openssl/deps/openssl/openssl/crypto/asn1/a_enum.o.d.raw   -c -o /tmp/nodec/node-v8.1.4/out/Release/obj.target/openssl/deps/openssl/openssl/crypto/asn1/a_enum.o ../deps/openssl/openssl/crypto/asn1/a_enum.c

[2017-07-20 10:57] pmq20 commented on #64
How big is your project and memory? Could you set a bigger vitual memory size?

[2017-07-20 10:58] pmq20 commented on #62
Could you give more information about the CPU and CPU architecture? Sounds like a platform that has not yet been tested on.

[2017-07-20 10:59] pmq20 commented on #61
Use `process.cwd()`.

[2017-07-20 11:00] pmq20 commented on #59
@kangchals Sorry for the delay. I'll look into this ASAP.

[2017-07-20 11:20] geekycompy commented on #64
It has 2 gb memory...

here's the output of "free -m"

[code]

How do I set a bigger virtual memory size? Is it in the OS or in nodec?

[2017-07-20 11:24] pmq20 commented on #64
In the OS.

geekycompy <notifications@github.com>于2017年7月20日 周四19:20写道：

[2017-07-20 11:41] geekycompy commented on #64
This has 4GB of memory and yet its not working..
Here's the output

[code]

[2017-07-20 11:44] geekycompy commented on #65
This is the one with 4GB of memory and yet it doesn't compile

[code]

[2017-07-20 12:15] geekycompy commented on #64
now, I am trying with a fresh server with 32gb of memory
[code]

Hope it will work...ill come back with the results...

[2017-07-20 12:38] pmq20 commented on #64
How big is your project folder? Check if anything big got unexpected
included.

geekycompy <notifications@github.com>于2017年7月20日 周四19:41写道：

[2017-07-20 13:57] geekycompy commented on #64
The folder is really really big...

Compiling on the 32GB Ram server worked..but I get this error

[code]

And I don't know from which events.js this error is thrown. There are many files named events.js among the many modules installed in the project.

Is it possible for me to see more debug information about the path of the file?

Thanks.

[2017-07-20 14:43] pmq20 commented on #64
@geekycompy Try setting environment variable `NODE_DEBUG` or use `ENCLOSE_IO_USE_ORIGINAL_NODE=1` and start with argument `--inspect` then manually start the program.

[2017-07-20 14:44] pmq20 commented on #64
`--inspect-brk` might also help.

[2017-07-20 15:16] geekycompy commented on #64
Sure, I will try this..Im new to this stuff even to setting those environment variables...where do I set them?

Meanwhile, I am trying out on an ARM server just to see if nodec works..

[2017-07-20 15:17] geekycompy opened #66 "Does node-compiler work on ARM server?"
Hi,
I am trying out an ARM server. Would node-compiler work in it?

Thanks.

[2017-07-20 15:27] pmq20 commented on #66
I have not tried it. Pull requests are welcome.

geekycompy <notifications@github.com>于2017年7月20日 周四23:17写道：

[2017-07-20 15:32] geekycompy commented on #66
Can I try to compile this there?

[2017-07-21 01:42] pmq20 commented on #66
@geekycompy Sure. Same instructions as other UNIX platform, assuming that you are using a UNIX operating system. You could also consult the build guide from Node.js, which serves the same purpose. https://github.com/nodejs/node/blob/master/BUILDING.md

[2017-07-21 07:29] Ni-vek commented on #66
Yes it does! At least on a raspberry pi 3, with an UNIX armv7 or aarch64. You just have to clone node-compiler on your server and run `./node-compiler/bin/nodec` with the same parameters as you would do with releases

[2017-07-21 07:38] Ni-vek commented on #62
You're right 😄
The OS is raspbian (debian for raspberry pi). The problem is that the OS is 32bits while the raspberry can support 64bits.
I finally found a 64bits OS for rpi!!! [here](https://github.com/DieterReuter/image-builder-rpi64/releases)! Works like a charm

[2017-07-21 07:47] pmq20 commented on #62
@Ni-vek Glad to hear it works. I'm curious, what's your use scenario on Node.js on raspberry pi? Could you share a little bit. Thanks :)

[2017-07-21 13:20] geekycompy commented on #64
if I try your inspect-brk and inspect, it shows this...

`/__enclose_io_memfs__/local/bin/nodec:139:in `<main>': invalid option: --inspect-brk (OptionParser::InvalidOption)
`

[2017-07-21 14:37] geekycompy commented on #64
after compiling with those environment variables, same error ...

[code]

Please guide me

Thanks

[2017-07-21 19:04] geekycompy commented on #64
pmq20,I need your help please...advise me ..what do I do to overcome this error?

[2017-07-21 19:15] geekycompy commented on #64
@pmq20 , did you mean passing --inspect and --inspect-brk to node? But my app works perfectly fine with node or even with pm2 before compiling.

Only after compiling with nodec and running app.out, it does not work and shows

[code]
What could be the cause for this?

[2017-07-21 19:21] geekycompy commented on #61
Should all places where __dirname is used be replaced with process.cwd()? Is it possible to include all those files inside the output without making changes to the source code?

[2017-07-21 20:15] geekycompy opened #67 "How do I tell node-compiler to include sub folders?"
Hi,
HOw do I tell node-compiler to include subfolders in my project?

Thanks.

[2017-07-22 07:30] geekycompy commented on #65
ok, I got past that with 32GB memory and increasing the swap to 10GB

but now, heres another error...

[code]

[2017-07-22 07:39] geekycompy commented on #64
I tried again with this hoping to find some debug info...
`sudo ./nodec --debug --clean-tmpdir --root=/usr/local/appdir/ app.js -o app.out`

and ended up with this...

[code]

Do you believe that this issue can be solved or maybe i have to give up on this?

[2017-07-22 16:25] Ni-vek commented on #64
It seems that you app require a file named l.txt. Maybe this file is not
included. If you load from the outside of your app, you must use the
absolute path with the require.

Le sam. 22 juil. 2017 à 09:39, geekycompy <notifications@github.com> a
écrit :

[2017-07-23 13:05] pmq20 commented on #64
@geekycompy Just like what @Ni-vek said, is `/Module/l.txt` existent in your project before compiling?

[2017-07-23 13:19] pmq20 commented on #67
via `--root`. Once the subfolder is in the root folder it got automatically included.

[2017-07-23 13:20] pmq20 commented on #61
@geekycompy You should not need to replace anything. Whatever works BEFORE compiling works AFTER compiling; otherwise it is a bug.

[2017-07-23 13:40] echofriend commented on #64
yes it is exists. it is a real file. All files are in the root folder.nothing is outside the root folder.

[2017-07-23 13:41] pmq20 commented on #64
Could you share a minimal set of code with me so that I can reproduce the
issue locally and fix it? Thanks.

echofriend <notifications@github.com>于2017年7月23日 周日21:40写道：

[2017-07-23 13:41] geekycompy commented on #64
sure...

[2017-07-24 00:45] cloverhx commented on #60
Thank you.

[2017-07-24 03:46] geekycompy commented on #64
hi @pmq20  , the project is so big and it's hard for me to find out which part of the code to use to make a minimal code sample.

When I use pkg, it shows more debug information and I was able to solve it.

However, I am a fan of node-compiler because it goes directly inside c++ to compile the code. I think I get the end program compiled using pure c++. That is what I really love about your compil

[2017-07-24 05:52] Ni-vek commented on #62
I use rpi & node for technical building management and house automation. that's just perfect!

[2017-07-25 01:41] pmq20 commented on #64
@geekycompy When the program writes to `__dirname + /l.txt` it will work. See,

https://github.com/pmq20/libsquash/blob/master/sample/enclose_io_unix.c#L606

and

https://github.com/pmq20/libsquash/blob/master/sample/enclose_io_unix.c#L606

[2017-07-25 05:05] Huyangfan commented on #61
@pmq20 Thanks.

[2017-07-25 05:05] #61 closed

[2017-07-26 03:53] pmq20 commented on #59
@kangchals It turns out that the entrance is not valid. `node_modules/.bin/egg-bin` and `node_modules/.bin/egg-bin.cmd` are actually shell scripts and batch programs (or symbolic links in some cases) that all point to `node_modules/egg-bin/bin/egg-bin.js`.

Just run it with the real entrance fixes the problem, i.e. `nodec node_modules/egg-bin/bin/egg-bin.js`.

[2017-07-26 03:54] pmq20 commented on #50
@Fov6363 It turns out that the entrance is not a valid JavaScript file. `node_modules/.bin/egg-bin` and `node_modules/.bin/egg-bin.cmd` are actually shell scripts and batch programs (or symbolic links in some cases) that all point to `node_modules/egg-bin/bin/egg-bin.js`.

Running it with the real entrance fixes the problem, i.e. `nodec node_modules/egg-bin/bin/egg-bin.js`.

[2017-07-26 05:25] pmq20 commented on #59
It's working as per 845b547f71e0c83d6becc21bdbbdae39c152ce23

![image](https://user-images.githubusercontent.com/13315/28605738-dfafb190-7205-11e7-8642-67895e169160.png)

[2017-07-26 05:26] pmq20 commented on #50
It's working as per 845b547f71e0c83d6becc21bdbbdae39c152ce23

![image](https://user-images.githubusercontent.com/13315/28605738-dfafb190-7205-11e7-8642-67895e169160.png)

[2017-07-26 06:01] Fov6363 commented on #50
thanks;
I will try again;

[2017-07-26 06:01] #50 closed

[2017-07-26 11:03] CocaCola183 commented on #51
+1

[2017-07-27 02:44] #57 closed

[2017-07-27 04:56] pmq20 commented on #51
Just excluded some common files by default, need to make this configurable.

https://github.com/pmq20/node-compiler/commit/945cedcd3dab68d865eb3b5395bb06ccbae80279

[2017-07-27 15:22] dackmatt opened #68 "error with module canvas1.6"
compile successfully but can't run it take's
Error: The specified module could not be found.
\\?\C:\__enclose_io_memfs__\node_modules\canvas\build\Release\canvas.node
    at Object.Module._extensions..node (module.js:598:18)
but module snappy and node-sass are working perfect . pls help.
best wishes

[2017-07-28 02:32] pmq20 commented on #68
Thanks for reporting. Let me try reproducing this locally. Any code that could help reproduce is appreciated.

[2017-08-01 17:26] znk opened #69 "Configure step fails in general"
On Linux using nodec 1.4.0, I ran into this problem when trying to compile the web application example:
[code]

Got any ideas? I have searched for the existing issues, but it seems new.

## Complete log ##

<details>
  <summary>(Click to expand)</summary>

[code]

</details>

## Log with --debug param

<details>
 <summary>(Click to expand)</summary>

[code]
</details>

## System infos

<details>

[2017-08-01 18:07] znk commented on #69
So node-compiler is a thin ruby wrapper around multiple big projects. :open_mouth: . Issue has a big chance to be located somewhere else. Getting in `/tmp/nodec/`, there is two occurrences of Python' `configure` :
[code]
zlib' `configure` is a simple bash script. Whereas node' `configure` is big python script, and automatically generated.  Here is its content, where it fails:
[code]

It seems that

[2017-08-01 18:48] znk commented on #69
## Further investigation ##

So, the root cause is node-gyp being stuck in Python 2 whereas his generated script is executed with my system' default `python`, alias to python3.

References: [1](https://github.com/LiskHQ/lisk-node/issues/7) [2](https://github.com/nodejs/node/issues/2735) [3](https://github.com/nodejs/node/issues/9512)

## Workaround (ArchLinux) ##
[code]

<details><summary>(click t

[2017-08-01 20:16] znk commented on #69
Hello @pmq20, since this case seems specific to some Linux distributions, I will leave those posts here for future references. How do you handle platform specific scripts in Nodec? I saw `--make-args` param, but my attempt to make use of it has not been successful. Mind to provide an example? Also, to which Makefile it refers to?

I will package soon.

[2017-08-02 01:15] pmq20 commented on #69
@znk Thanks for the detailed investigation! Seems like we should file a patch to `node-gyp` to let it try the command `python2` in case of python being linked to python3.

`--make-args` is for arguments passed to make when executing `node/Makefile`. An example would be: `nodec --make-args="-j4 V=1"`.

[2017-08-03 12:50] unitwk opened #70 "Compile 32-bit Windows programs"
I successfully compiled the program.
but it cannot running on 32-bit Windows.
how shoud I compiled with 32-bit windows OS compatible programs...
but it still can only running on 64-bit windows.

please help me,thank you.

My system is Windows10 64-bit ,Vs2017 and Node.js 8.2.0

@pmq20

[2017-08-04 01:39] pmq20 commented on #70
To compile to 32-bit windows OS compatible programs on a 64-bit machine, you should use a x64 x32 cross compiling environment. You should be able to find it in your Start Menu after installing Visual Studio. Also, you have to use a 32-bit Node.js, because the arch information is detected via `node -pe process.arch`

[2017-08-04 02:46] Suwings commented on #70
I have compiled the 32-bit program successfully.
thanks again.

[2017-08-07 05:54] RobiFerentz opened #71 "Clarification request: Where to install squashfs tools on Windows?"
I'm considering using node-compiler for a project, but I can't seem to find any explanation on where to install the squashfs files (from the download) on windows in order to make everything work.

[2017-08-07 06:49] pmq20 commented on #71
`C:\Windows` would suffice.

[2017-08-09 04:07] zozobreakzou opened #72 "is asset files supported?"
if the node app use a resource file(such as a png or a csv file) with fs, does the nodec bundle them and the output exe can work on an new machine without these resource files.

[2017-08-09 07:36] pmq20 commented on #72
Yes

[2017-08-09 08:04] zozobreakzou commented on #72
but failed in my test.  even the read_file1 function.
[node_app.zip](https://github.com/pmq20/node-compiler/files/1210742/node_app.zip)

[2017-08-09 08:19] zozobreakzou commented on #72
in my opinion, it seems nodec bundle all the files in the 'cwd' in to '/__enclose_io_memfs__', is that right?
if so,  how to access the files in the bundle?

[2017-08-16 15:29] agauniyal opened #73 "Binary download is extremely slow"
From this url - http://enclose.io/nodec/nodec-linux-x64.gz

[2017-08-19 08:11] stonecold123 opened #74 "Is there a way to work with the preload feature from dotenv?"
There's a feature in [dotenv](https://www.npmjs.com/package/dotenv)  that allows me to use the --require (-r) command line option to preload dotenv configurations in order to make sure the configurations are loaded before launching `app.js`, for example:

[code]
Is there a way to set the node arguments when running `nodec`?

[2017-08-19 12:19] slayer opened #75 "Rename project node-compiler to node-packer (or so)"
Hi

As I see, that project does not compile js code to machine or byte code, it just packs it.
So it will be honestly to rename project to avoid misrepresentation.

Thanks

[2017-08-21 07:13] pmq20 commented on #75
Good point. Let me rename it ASAP

[2017-08-21 07:38] pmq20 commented on #74
I think you can probably add some hack to `node_main.cc` around here to achieve this. In the future let's make this an extra argument to `nodec`.

![image](https://user-images.githubusercontent.com/13315/29508336-c687c5f0-8686-11e7-84c0-76faccca941d.png)

[2017-08-21 07:40] pmq20 commented on #73
I guess this is due to the server being located in China. I'll use source forge in the future because they have global CDN. Thanks for reporting!

[2017-08-21 07:41] pmq20 commented on #72
That is correct. You could access it like this: `fs.readdirSync('/__enclose_io_memfs__')`.

[2017-08-21 08:44] agauniyal commented on #73
@pmq20 sourceforge is reported to have shipped malware alongside binaries in past so it would be better if you could use github releases (they must have some kind of API to do it programmatically) or any other static site hosting companies like surge.sh or netlify. Thanks :)

[2017-08-21 09:12] slayer commented on #75
Thank you

[2017-08-21 09:12] #75 closed

[2017-08-21 18:23] Gindu opened #76 "Can't run output .exe file"
`Assertion failed: !(S_ISDIR(squash_global_fdtable.fds[fd]->st.st_mode)), file sample\enclose_io_win32.c, line 87`

Always getting this error.

Compiled with Nodejs v8.3 and Nodec v1.5. Python 2.7, VS 2017.

`nodec ./index.js  --clean-tmpdir`

packages.json:
`{
  "name": "exe",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specif

[2017-08-25 13:05] arthurmoises commented on #66
Hi Ni-vek!

First, thank you all for excellent tool and great explanations!

Do I need to have ruby in order to run nodec, Ni-vek? I just installed it, but I'm getting the following error:

[code]

I'm building a project in resin.io. The relevant parts of my Dockerfile.template are:

[code]

Thanks a lot in advance!

[2017-08-25 17:15] ckome commented on #65
同样的错误.并不是总是发生.多试几次偶尔正常.
debian8 x64 ,4G RAM.

make[1]: *** Waiting for unfinished jobs....
rm 8c46e17a920ac177fdd355e40bb79e0f4de1f6d5.intermediate
Makefile:76: recipe for target 'node' failed
make: *** [node] Error 2
Failed running ["make -j4"]

[2017-08-28 01:00] pmq20 commented on #66
This is due to Ruby version being too low for the "&." operator.

[2017-08-28 01:01] pmq20 commented on #65
Regarding the another error, I think you missed the line that caused the real problem. Could you look more into the entirety of the log and find the line most relevant to causing the error? It probably has "error: " in it.

[2017-08-29 14:51] cloverhap commented on #70
Can this be written in the readme or Wiki? This is useful information.

[2017-08-30 01:58] pmq20 commented on #70
@cloverhap added in https://github.com/pmq20/node-packer/commit/3847bd2ea5f949a8f2de47da8ac2cc10c1ee638d

[2017-08-31 02:59] pochuang opened #77 "Can not find visual studio"
I've installed windows-build-tools, but still got the following error message:
------------------------------------------------------
Looking for Visual Studio 2015
Failed to find a suitable Visual Studio installation.
Try to run in a "Developer Command Prompt" or consult
https://github.com/nodejs/node/blob/master/BUILDING.md#windows-1
------------------------------------------------------

Is the

[2017-09-03 20:32] dpeter99 opened #78 "Support for node 8.4.0"
Support for the latest Node js

[2017-09-04 00:51] pmq20 commented on #78
Hi @dpeter99 , the master has alreday had 8.4.0 landed. cf. https://github.com/pmq20/node-packer/blob/master/CHANGELOG.md

[2017-09-04 00:52] pmq20 commented on #77
Do you have a Developer Command Promp in your Start Menu?

[2017-09-04 00:52] pmq20 commented on #77
If not, I recommend installing a full-fledged Visual Studio instead of windows-build-tools.

[2017-09-04 00:53] pmq20 commented on #76
Wow, this is weird. Let me try if I can reproduce this locally.

[2017-09-05 08:21] Bodhivrksa opened #79 "Failed running ["call vcbuild.bat x64"]"
您好！
      我的环境是Windows10，node v4.4.4，SquashFS Tools 4.3，Python  2.7.13，VS2015，当我安装完执行nodec  -v时，显示1.5.0，是否意味着我的nodec安装是没有问题的？
     然后我尝试编译一个简单的js文件，
     执行命令nodec -r E:\hello.js -o hello.exe，
     返回

E:\>nodec -r E:\hello.js -o hello.exe
Node.js Compiler (nodec) v1.5.0
- entrance: not provided, a single Node.js interpreter executable will be produced.
- HINT: call nodec with --help to see more o

[2017-09-06 08:52] Bodhivrksa commented on #79
您好！
我看文档的动态图，试着对我的项目yr进行打包，bin/www是我的启动项
执行命令 nodec www

    E:\yr>nodec .\bin\www
    Node.js Compiler (nodec) v1.5.0
    - entrance: E:/yr/bin/www
    - options: {:npm=>"npm", :make_args=>"-j4", :vcbuild_args=>"x64", :output=>"E:/yr/a.exe",   :tmpdir=>"C:/Users/JOHN/AppData/Local/Temp/nodec"}

      === WARNING ===
     Please make sure to have installed the correct version of node in your envir

[2017-09-08 01:44] Bodhivrksa commented on #79
请问我下载了SquashFS Tools 4.3，然后我是要将这个文件夹放在哪个文件夹下，还是要运行mksquashfs.exe，因为运行，执行的cmd很快就消失了，看不出，执行了什么？

      E:\yr>nodec .\package.json -d E:\t
     Node.js Compiler (nodec) v1.5.0
    - entrance: E:/yr/package.json
    - options: {:tmpdir=>"E:/t", :npm=>"npm", :make_args=>"-j4", :vcbuild_args=>"x64",   :output=>"E:/yr/a.exe"}
    === WARNING ===
    Please make sure to have installed the correct version

[2017-09-08 04:12] ledmirage opened #80 "exposing gc"
I am able to compile my script, but my script requires access to GC, which needs the GC api exposed via command line arguments "--expose-gc".
How can I make the compiled script has GC api exposed ?

[2017-09-09 08:59] Bodhivrksa commented on #79
打包成功了，但不知道怎么运行这个a.exe？node a.exe失败，直接点击a.exe，doc窗口一闪而过。无从下手。

[2017-09-09 15:41] ledmirage commented on #51
i would like some files to be excluded for a different reason: configuration files.
right now I am able to compile an exe with config files included in the exe. But this means i can't modify the configuration during run-time without re-compiling. And I find that if I remove the config file from compilation, I can't access that file as the compiled exe seems only try to look for the file from the b

[2017-09-15 07:08] pmq20 commented on #51
@ledmirage Yes there is a way. It is currently only possible on the C level, but I am planning to make it to the upper level via a specia environment variable. If you search for "mkdir_workdir" in the libsquash project you will find related logic.

<img width="742" alt="default" src="https://user-images.githubusercontent.com/13315/30470475-7b54b8e0-9a27-11e7-9b93-f5a36d53daf0.png">

That variable

[2017-09-19 05:51] sankoshine commented on #79
Try to run following code in cmd
[code]

[2017-09-20 07:03] Bodhivrksa commented on #79
@sankoshine
hi,but I think i am failed,when I packing it,doc is writing

     E:\test\node-8.3.0-1.5.0\deps\v8\include\v8.h(4150): warning C4251: “v8::WasmModuleObjectBuilder::received_buffers_”: class“std::vector<v8::WasmModuleObjectBuilder::Buffer,std::allocator<_Ty>>”需要有 dll 接口由class“v8::WasmModuleObjectBuilder
       ”的客户端使用 [E:\test\node-8.3.0-1.5.0\node.vcxproj]
      src\node_main.cc(37): w

[2017-09-25 14:48] mika-fischer opened #81 "Compiling every time is very slow"
Is there a way for node-compiler to cache the results of the compilation of nodejs and just replace the bundled application and/or changed node_modules/assets, similar to how nexe does it?

This would speed things up a lot. Currently it takes minutes to recompile for every single change to a js file. This is not feasible during development...

[2017-09-30 12:04] cnddu opened #82 "packing expressjs project seems excluded static files by default, e.g. css style files"
I used express-generator to setup an simple express project and tried to pack it. Build process passed and binary files generated as expected, but when running it and verified by browser. The issue is the style css file could not be found from browser and web page style is not correct.

Platform: Ubunto Mate 16.04 on Rasperberry Pi 3B with node.js version 8.6.0

Thank you

[2017-09-30 20:37] Ni-vek commented on #82
That smells like it's an express issue. Not a node-packer issue.
Try to route your stylesheet requests, like that
`app.use('/styles', express.static(path.join(__dirname, 'styles_folder')));`
Every request will be linked to the correct folder in the compiled app, even in the "non-compiled" app.

[2017-10-01 09:18] cnddu commented on #82
@Ni-vek thank you for commenting. But original express is correct:
`app.use(express.static(path.join(__dirname, 'public')));`
And I've verified via browser with original express code.
However, browser could not find corresponding css file when packed binary is running,
Any idea?

[2017-10-02 10:02] Ni-vek commented on #82
OK. What's the URL requested and your app structure?

[2017-10-02 11:53] cnddu commented on #82
URL requested is the root url, aka "/"

app structure could be fould from bottom of the page:
[http://expressjs.com/en/starter/generator.html](http://expressjs.com/en/starter/generator.html)

[2017-10-02 16:02] Ni-vek commented on #82
I just tried with a fresh generated express skeleton, and it works perfectly for me.
Which options did you provide for compiling?

[2017-10-03 13:20] cnddu commented on #82
I cloned this src code and use bin/nodec for compilation:
`bin/nodec ~/express/myapp/bin/www`

How about yours @Ni-vek ?

[2017-10-03 15:03] Ni-vek commented on #82
I've tried
`./node-packer/bin/nodec myapp/bin/www`
`./node-packer/bin/nodec -o a.out myapp/bin/www`
`./node-packer/bin/nodec -o a.out -r myapp/ myapp/bin/www`
Each ones work.

[2017-10-03 19:28] Ni-vek commented on #82
Tu this
https://drive.google.com/file/d/0B0QHZGlyZZuramNQbHRfMHpwM1U/view?usp=drivesdk

[2017-10-04 13:00] cnddu commented on #82
Thanks, @Ni-vek , I downloaded and found it is a MacOS binary, though I verified your binary and it did contain css file, it is different platform from mine (ARM Linux).

The commands you listed are the same as mine, so my issue is still there...

[2017-10-04 13:03] cnddu commented on #82
is it possible to extract built binary to see if css file is packed in?

[2017-10-07 05:12] stonecold123 opened #83 "virtual memory exhausted: Cannot allocate memory and Failed running ["make -j4"]"
I'm running into the `Failed running ["make -j4"] error`. A few blocks of logs before the error, I found there's an error about `virtual memory exhausted: Cannot allocate memory`.

I have an i5 processor machine with 16GB ram running `arch linux`. The folder of `node-8.3.0-1.5.0` is about 1GB.
And in the tmp dir there's a folder called `__work_dir__/` that contains the `__enclose_io_memfs__/` whic

[2017-10-08 11:41] cnddu commented on #83
you should check if swap file is enabled for your Linux dist.

[2017-10-08 11:46] cnddu commented on #26
Guys, I met issue on armhf build, pls help take a look here #82 , thanks

[2017-10-08 13:19] stonecold123 commented on #83
@cnddu
Yes, I have a swap partition. I just checked the memory usage. It was through the roof when nodemc was running! I have 4gb swap space + 16GM RAM and it's still not enough.

[2017-10-09 03:17] cnddu commented on #83
try bellow options:

1. setup 16GB swap space
2. do not use -j4 but -j1

[2017-10-11 07:18] jokyme opened #84 "Can't open 'C:\__enclose_io_memfs__\node_modules\phantom\lib\shim\index.js'"
用node-packer打包之后，执行a.exe报错
` Can't open 'C:\__enclose_io_memfs__\node_modules\phantom\lib\shim\index.js'`

项目里面有用到 phantom 模块

[2017-10-15 10:53] bigbenz8 opened #85 "在win7x64环境下无法使用"
mksquashfs -version 报错。  cygwin1.dll 不兼容 ，请问如何解决？

[2017-10-16 01:19] bigbenz8 opened #86 "IndexError: list index out of range"
Here is my whole complie output :
-------------------------------------------------------------------------------

D:\nodec_tmp>nodec --npm-package=shadowsocks ssserver -d  d:\nodec_tmp  --clean-tmpdir
Node.js Compiler (nodec) v1.5.0
- entrance: ssserver
- options: {:npm_package=>"shadowsocks", :tmpdir=>"d:/nodec_tmp", :clean_tmpdir=>true, :npm=>"npm", :make_args=>"-j4", :vcbuild_args=>"x64", :out

[2017-10-17 00:31] #85 closed

[2017-10-27 17:23] MrSco opened #87 "failed running ["call vcbuild.bat x64"]"
running ...

nodec ./index.js --clean-tmpdir

Works until it gets to the visual studio bulding and then All of the vs projects fail ..

![cmd_2017-10-27_13-22-46](https://user-images.githubusercontent.com/11297411/32116766-fb6436f6-bb19-11e7-9e75-a15e368bcf1b.png)
.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\VC\VCTargets\Microsoft.Cpp.Current.targets(108,3): error M

[2017-11-02 19:48] MrSco commented on #87
figured it out. had to make sure C++ was installed in visual studio

[2017-11-02 19:48] #87 closed

[2017-11-03 14:31] TurtleForGaming opened #88 "Failed running ["call vcbuild.bat x64"]"
So I have visual studio Installed but when I run:

I don't know what's going on and I need to compile to exe

[2017-11-07 07:59] opohacker commented on #86
@bigbenz8 Hi, have you solved this problem?
@pmq20 I have the same problem as  @bigbenz8 post, can you help to give some suggestions?

[2017-11-08 22:27] affanshahid opened #89 "Performance implications"
Tools like EncloseJS take V8 snapshots for compilation, thus code optimization is not possible while running and performance is degraded.

Using node-packer what would be the performance difference between running the compiled executable vs `node app.js`.

[2017-11-12 07:59] #71 closed

[2017-11-12 08:13] RobiFerentz opened #90 "Error when attempting to compile my project"
[code]

I get the above when attempting to compile my app. I'm not sure what entity is missing in it's 'ENOENT' error.

[2017-11-13 06:49] chintan39 commented on #49
Yes, it works now

[2017-11-13 06:51] #49 closed

[2017-11-13 08:24] victor0801x opened #91 "support last LTS node ?"
Is there any update support last LTS node? or last release?

[2017-11-13 11:06] chintan39 commented on #83
This didn't used to happen earlier using the same server
I have 7GB RAM and 7GB Swap space and getting the same error

[2017-11-13 15:00] serigej opened #92 "web application expects some parameter"
When I try to execute my packed app an error is returned. As I understand, app is supposed to receive some parameter but when I run it unpacked, I don't need to pass any.
What do I need to pass? Some json?
The app is a complex web application.

Any suggestion would be greatly appreciates. This is the output I get when I try to run my app.

$ ./miteam
path.js:28
    throw new TypeError('Path must b

[2017-11-15 14:34] chintan39 commented on #83
@stonecold123 The problem is because of possible output file like a.out is in the same folder as project.
I changed the location of output file to outside of project , removed any output file from the project directory and its fixed

[2017-11-15 14:36] chintan39 commented on #81
@mika-fischer Move the "nodec" file out of your project and change the location of output file(to be outside the project folder).
Build again, it gets build in few seconds now

[2017-11-15 19:59] ruimgoncalves commented on #81
This is true for mac, but in windows is still slow.

[2017-11-16 07:27] jimmont opened #93 "shasums for releases?"
Where or what are the shasums for the various node-packer releases?

[2017-11-17 04:49] chintan39 commented on #81
I have tried in MacOS and Ubuntu

[2017-11-27 02:32] daihashi opened #95 "Support for Node 8.9.1"
When will support for node 8.9.1 be available?

[2017-11-30 18:44] zburgermeiszter opened #96 "Is anyone using it in Docker?"
I would like use it in Docker. Is anyone running `node-packer` for building containers?

[2017-11-30 21:46] zburgermeiszter commented on #96
I managed to start the compiler using the following Dockerfile
[code]

[2017-12-01 18:20] Asp3ctus commented on #95
Wating for pull #94 to be merged

[2017-12-02 14:24] victor0801x commented on #91
#94

[2017-12-02 14:25] #91 closed

[2017-12-04 20:09] plunkettscott commented on #95
There are some new things in Node 8.9.1 that we need to use. Do we know when #94 will be merged?

[2017-12-06 08:59] jgoux opened #97 "Compatibility with UPX"
Hello,

thanks for this awesome project!

I tried to use [upx](https://github.com/upx/upx) on the generated binary to reduce its size (it went from 39M to 14M!)

My issue is that the compressed binary is unusable, when I launch the app I got a :
[code]

I have no issue with the uncompressed binary. Any idea?

[2017-12-06 10:37] jgoux opened #98 "Include external libraries"
Hello,

I compiled a node.js app relying on [node-oracledb](https://github.com/oracle/node-oracledb). This library has external dependencies (I assume it uses dynamic linking) so I have to install these on my production environment in order to make my app works.

If I don't I get this error :

`(node:822) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: libcl

[2017-12-12 03:28] roytan883 commented on #95
@daihashi @plunkettscott
you can use my personal repository :
https://github.com/roytan883/node-packer
just clone the repository and use bin/nodec

[2017-12-13 16:54] jloveric opened #99 "nodec doesn't seem to work with symbolic link bases requires"
Hello,

In order to refer to files inside my program as part of a node module, I place a symbolic link in node_modules to my library directory.  If the symbolic link inside node_modules is "program" then I can require using this function
[code]
This is a common pattern for requires.  It seems this is not supported as my program compiles, but then fails during running (due to missing files).  Is th

[2017-12-13 23:41] grkblood13 opened #100 "Cannot find module '/__enclose_io_memfs__/node_modules/express'"
I'm trying to build a much larger project but I'm getting the error "Cannot find module '/__enclose_io_memfs__/node_modules/express'" on the very first line when I run my compiled code. To debug this I made my program as simple as possible. It's not a 1 line file called test.js with the following code:

var express = require(__dirname+'/node_modules/express');

I compiled it with `nodec test.js`

[2017-12-15 01:42] #100 closed

[2017-12-21 13:48] rohit5ram opened #101 "'vcbuild.bat' is not recognized as an internal or external command, operable program or batch file."
I am trying to package a node application on windows 10
I have installed the below
SquashFS Tools 4.3
Python 2.7
Visual Studio 2017 community edition and selected "MSbuild", "VC++ 2017 v141 toolset" and Windows SDK (10)
I have added the Squashfs and python executable paths to the PATH variable

Whenever I try nodec from my project directory it fails with the following error
 Running ["call vcbuild

[2017-12-22 20:51] YYago opened #103 "折腾了许久，提一些碰到没能自己解决的问题。"
* [x] 1. 需要一个 比较完整的示例，仅仅是一个`console.log('hehe')`的npm package也好呀。

* [x] 2. 编译的a.exe 可以运行，可是转移到其他相同平台(比如另外一台Windows 10系统)，它就不能工作了，一直报找不到module。甚至找不到package.json。

* [x] 3. 编译自己的 npm package (未 npm publish) 一直报不存在package.json （例如叫test的npm
package，package.json就在/test/下，它硬是说不存在，哪怕是在不同的地方建 a , b 两个npm package，然后在  b 中安装 a ( a 已经全局安装 ) 到 b 的 node_modules下，再在 b 的所在的项目根目录执行` nodec  --npm-package=a`，这样都报找不

[2017-12-22 21:24] Ni-vek commented on #103
And in english? What do you mean ?

[2017-12-23 06:55] YYago commented on #103
😭  oh, let me try:

1. The a.exe file can not be run on other windows system machines (both windows 10 x64 they are). Even add to the system environment variable (PATH).
error:
[code]

2. I think maybe I should compile the entire npm package.  but, when I used the command:` nodec --npm-package = stnouausehgforbdm indfex --skip-npm-install ` (it can not be downloaded from npm because it is not yet

[2017-12-23 07:38] Ni-vek commented on #103
I understand now 😁

As far as I know node-packer, it doesn't manage npm packages the right way every time. Specially if you package is not published. The workaround is to install your packages as usual into your app, and then calling node-packer like that
`node-packer/bin/nodec -r app_root_dir/ -o app.out --skip-npm-install app_root_dir/bootstrap.js`
It works every time

[2018-01-02 09:10] roytan883 commented on #103
@YYago 简单的说，不要在windows下玩，估计作者最开始压根就没想过windows的兼容性。我们的使用经验是在linux下玩的很好，只要处理好和文件相关操作。node-packer的核心类似于“固件”虚拟nodejs系统，只要用区分好虚拟文件系统和真实文件系统，一般来说就没什么问题了。

[2018-01-02 20:59] grkblood13 opened #104 "nodec installation on android"
Any chance android support could be added? You can install nodejs on android using Termux so this is probably something that could be done.

[2018-01-10 10:00] vast-z commented on #86
I’ve solved this problem, I forget install win10 sdk....so, i read doc and win8 and win10 need to install the sdk. original. (Visual Studio 2017, any edition (including the Build Tools SKU). Required Components: "MSbuild", "VC++ 2017 v141 toolset" **and one of the Windows SDKs (10 or 8.1)**.).)

[2018-01-11 06:59] khuongduybui commented on #51
Please note that we need to both read from and write to external files.
This is the ONLY blocker for me. This library is awesome in so many ways that it broke my heart when I can't use it...

[2018-01-13 07:14] chylvina commented on #95
+1
When will support for node 8.9.4 be available?

[2018-01-15 09:59] CoolHandLuke88 commented on #29
I ran into this exact issue.
I wanted to leave this here for anyone else that may run into this issue with docker and `uws` installation.

Hope you guys don't mind I drop this here.

In Dockerfile
*********************************
`FROM node:8.9-alpine`

`RUN apk add --update \`
    `libc6-compat`

*********************************
Needed `libc6-compact`

This should resolve the issue seen below.

[2018-01-16 10:20] lishangwu opened #105 "Error when compile my project"
In file included from ../deps/icu-small/source/common/unicode/unistr.h:33,
                 from ../deps/icu-small/source/common/unicode/ures.h:794,
                 from ../deps/icu-small/source/common/ucnvdisp.cpp:28:
../deps/icu-small/source/common/unicode/char16ptr.h:69: 错误：expected ‘)’ before ‘p’
../deps/icu-small/source/common/unicode/char16ptr.h:117: 错误：expected ‘)’ before ‘p’
../deps/icu-s

[2018-01-24 13:21] BenGermany opened #106 "different node.js versions ?"
Is it possible to compile against any node.js version or only special ones hosted for/by nodec? Where to get these?

[2018-01-25 12:11] BenGermany commented on #95
Can someone explain the history of available node.js versions for compiling against? I tested pkg before and there I can use different node.js versions

[2018-01-26 19:07] ogchavez commented on #54
Not sure where else to put this but if somebody else got here like I did wanting to know about setting the icon for now while the feature gets done, is by first running nodec so the temp directory builds the nodejs folder and go into where the current icon that looks like an iron box (mine is at %APPDATA%\..\Local\Temp\nodec\node-8.3.0-1.5.0\src\res) and then just replace it with your own .ico fil

[2018-01-29 14:11] chylvina commented on #106
+1

[2018-02-11 22:32] sido420 opened #107 "dyld: lazy symbol binding failed: Symbol not found: _clock_gettime"
I followd MacOSX instructions on 10.11.6 (El Capitan)
[code]

[2018-02-11 22:35] sido420 commented on #107
[code]

[2018-02-12 13:01] sido420 commented on #100
did you find a solution for this?

[2018-02-12 13:01] sido420 commented on #84
did u find a solution for this issue?

Is node_modules outside src code directory?

[2018-02-20 12:00] dariocravero opened #108 "No module named gyp.common error"
Hi,

I'm getting this error when trying to run nodec:
[code]

Here's the output of the full process. I've used the sample eggjs project to test it:
[code]

Would you have any hints on what might be wrong? I tried to install `node-gyp` both globally and locally and that didn't make a difference. The version of nodec is the latest and the version of node I'm using is matching it v8.3.0. Here's the o

[2018-02-23 14:13] zhoutk commented on #106
me, too. I have done some effort for it, but ...

[2018-02-24 10:50] zhoutk commented on #106
@BenGermany I have got it. Update node.js to v8.9.4
You can use my personal repository :
https://github.com/zhoutk/node-packer
Just clone the repository and use bin/nodec
The method is : download and cp node.js source to node of this project, modify codes according to author's trace in git.

[2018-02-26 08:12] noney opened #110 "When to support yarn？"
When can I support yarn? thank

[2018-02-27 16:10] fersucho commented on #90
Hi Robert,
Maybe it's too late for your question but this may help someone else.
I had the same problem recently. Finally I found that Windows has a limited length of 260 chars for the path and name of a file. I reduced the length of the part under my control and I could generate the EXE.

[2018-02-28 03:11] wangxiaoni2016 opened #111 "build node compiler"
what should i do if i want use the source code to build a new node compiler?
why I could not clone the source code to my computer

[2018-03-01 05:26] evanchan commented on #45
I got the following error when using pm2 in cluster mode

[code]

should be able to reproduce with the following code:

[code]

compile flag "nodec --make-args="-j2" -r . -o ~/test.out server.js"
start it by `pm2 start test.out`  is fine. (single process mode)
start it by `pm2 start test.out -i 2` in multi process mode causes the above error
using node 8.3, pm2 2.9.1, ubuntu server 16.04 LTS

Any

[2018-03-01 08:43] zhoutk commented on #111
don't use git clone, you can downlad ...master.zip

[2018-03-07 16:28] BenGermany commented on #106
@zhoutk 👍

Thank you very much - i am done with this project ;-)

[2018-03-09 08:31] huangapple commented on #68
This BUG still exists。

---------------------------------------------------------------------------------------------------
module.js:602
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: The specified module could not be found.
\\?\D:\__enclose_io_memfs__\node_modules\canvas\build\Release\canvas.node
    at Object.Module._extensions..node (module.js:602:18)

[2018-03-11 11:29] zhoutk commented on #106
@BenGermany You are welcome

[2018-03-21 11:25] ndrantotiana opened #112 "How could I compile a Node.js project for Windows platform on a Mac OS?"

[2018-03-21 12:58] elig0n opened #113 "WSL install: failed running ["./configure""
running ./nodec

-> Running ["./configure "]
Please use either Python 2.6 or 2.7:

Failed running ["./configure "]

/usr/bin/python2 is linked :

$ python2
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2

[2018-03-21 13:07] elig0n opened #114 "Windows install fails: getnodeversion.py SyntaxError / "call vcbuild.bat x64""
File "D:\Temp\nodec\node-8.3.0-1.5.0\tools\getnodeversion.py", line 20
    print '%(major)s.%(minor)s.%(patch)s'% locals()

Cannot determine current version of Node.js
Failed running ["call vcbuild.bat  x64"]

The ^ points to the second '

As this I have python 3 , changing it to python 3 syntax i.e.:

Still results in :

Failed running ["call vcbuild.bat  x64"]

[2018-03-21 23:25] elig0n commented on #113
changing the /usr/bin/python symlink to /usr/bin/python2 solved it

[2018-03-21 23:25] #113 closed

[2018-03-23 11:13] JhalakJaviya commented on #82
@cnddu have you find any solution?, I have same problem on my platform (ARM).

[2018-03-24 06:00] phitruongdn commented on #96
I ran the nodec without and with --make-args=-j10. I still got the error of make error on same line @pmq20, @zburgermeiszter
[code]
[code]

[2018-03-29 03:40] gaoshangli opened #115 "cannot allocate memory in static TLS block"
I build a.out file completed in linux, then run it. But:
error while loading shared libraries: cannot allocate memory in static TLS block
it is on ali clound ECS.

[2018-04-11 06:45] Venkat5694 commented on #82
@Ni-vek How do I explicitly define folders or files that need to be bundled which are not a part of the dependency tree but are used by the node script?

[2018-04-27 02:52] saknarak opened #116 "How --auto-update-url Work? Any documents?"
I'm new to --auto-update-url feature.
Is there any guideline/doc to use this feature?

[2018-04-30 05:16] jjhesk opened #117 "node 9.11.0 support"
when does it support the newer versions for node 9,10 ?

[2018-05-03 03:19] hardywu opened #118 "Example web application compilation gives error: package.json should exist"
Steps to produce the error:
[code]
The output `a.out` will look for web app's source code first, e. g. `package.json`.
[code]

[2018-05-07 09:28] C-ra-ZY opened #119 "performance issue"
simple build index.js:

console.log("hello world");

 will cause 100% cpu and memory usage on windows 7 enterpirse, python 2.7, vs 2015. 8G memery is not enough to complete the build progress.

[2018-05-07 19:20] Dcros opened #120 "Squashfs 4.0 Error array, size too big (ArgumentError)"
Hello to everyone i have a project that have like 3,5GB of size and i want to make an exe to my server-side
like W:\javascriptProject\jarvisa0.1clean> nodec src/server.js --clean-tmpdir... it starts well, everytrhing okey... but then an error happend::::::::::

W:\javascriptProject\jarvisa0.1clean>nodec src/server.js --clean-tmpdir
Node.js Compiler (nodec) v1.5.0
- entrance: W:/javascriptProject/j

[2018-05-09 07:23] dedhdude opened #121 "./nodec: cannot execute binary file: Exec format error arm64"
Is it possible  to compile script in arm64 (Armv8)  bit architecture ?

[2018-05-11 03:41] Fantasy9527 opened #122 "在linux上执行打包后的文件显示: cannot execute binary file"
如题:
在linux上执行打包后的文件显示: cannot execute binary file
在mac上是可以执行的.

[2018-05-12 19:04] JesseWo commented on #103
针对第三点编译整个project找不到package.json问题, 直接编译入口文件就好了. 比如你的入口文件是main.js, 那么 `nodec yourProject/main.js` 它会将其他依赖一起打包进去

[2018-05-15 17:10] chylvina commented on #117
+1

[2018-05-18 16:49] crussell52 commented on #117
One of the challenges with this package is that a modified version if the nodejs is embedded within it.

What we really need is very clean, easy to follow, instructions for applying a different (newer, older, whatever) version of nodejs. Maybe even a script. There is no way this project can keep up with the rate nodejs increments any other way.

[2018-05-20 09:03] Dcros commented on #120
Okey so the solution for this cases its put the heavy libs as global and use them from your pc global node_modules.

[2018-05-20 09:03] #120 closed

[2018-05-20 11:16] lio590 opened #123 "on windows cp -r doesn't copy node_modules"
on windows cp -r doesn't copy node_modules directory in _enclose_io_memfs__ tmp directory. The directory is empty. The issue then is that it seems they are not included in the exe

[2018-05-24 19:26] ImFranQ opened #124 "Generate .exe"
I want generate an .exe and .pkg runing command on linux. `--msi` and `--pkg` options not working.

[2018-05-31 03:36] khuongduybui commented on #51
Is this thread/repo dead or what?

[2018-05-31 10:40] dobobaie commented on #88
Hi guys, go here "%LocalAppData%/Temp" and remove nodec folder and restart nodec.exe

[2018-05-31 11:58] dobobaie commented on #124
You have to rename "a.out" to "myApp.[exe|pkg]" and it works. Or add "-o myApp.[exe|pkg]" has parameter.

[2018-06-06 12:23] hadiayoub97 opened #125 "run a javascript file inside project from shell script"
In my node application I create a shell script and automatically run it (using the child-process library).
The shell script must node a javascript file from inside the project but gives an error "cannot find node module".
When running the executable, the project files are stored inside "__enclose_io_memfs__" .
My main question is: while the executable is running can I run a shell script that runs

[2018-06-08 11:17] ZhouBox opened #126 "when I exec nodec, error"
/__enclose_io_memfs__/local/lib/compiler.rb:105:in ``': No such file or directory - node (Errno::ENOENT)
	from /__enclose_io_memfs__/local/lib/compiler.rb:105:in `init_options'
	from /__enclose_io_memfs__/local/lib/compiler.rb:26:in `initialize'
	from /__enclose_io_memfs__/local/bin/nodec:153:in `new'
	from /__enclose_io_memfs__/local/bin/nodec:153:in `<main>'

[2018-06-11 18:24] UnmeshDeshmukh opened #127 "Nodec not found"
I am trying to build an executable through nodejs and have written a shell script which runs on alpine linux. It installs all the needed packages and when it tries to run nodec/src command to create executable it throws nodec not found error

[2018-06-25 12:53] huangximeng commented on #105
我在centos上安装node的时候遇到了几乎一模一样的问题，希望有大神能解答一下

[2018-06-25 12:58] lishangwu commented on #105
https://www.runoob.com/nodejs/nodejs-install-setup.html

[2018-07-06 10:59] #125 closed

[2018-07-09 15:59] Zibri commented on #121
same here.. please make the executable cross-compiled for arm

[2018-07-09 20:05] dkssn commented on #126
Got the same error.

Running on CentOS Linux release 7.5.1804 (Core)

[2018-07-16 08:10] slee047 commented on #117
Hi all, I have instead packaged NodeJS 8.11.3 as well as 10.6.0 based on this master branch (1.6.0). You may download it via:
https://github.com/slee047/node-packer/releases

To use NodeJS 8, you may download via the master branch on the link above.

To use NodeJS10, you may download via the Series10 branch on the link above too.

[2018-07-16 08:12] slee047 commented on #95
I have made support for both 8.11.3 and 10.6.0.

You may get it from here:

https://github.com/slee047/node-packer/releases

Version 1.6.0-8.11.3 refers to node-packer in current master branch (1.6.0) packaged with NodeJS 8.11.3.

Version 1.6.0-10.6.0 refers to node-packer in current master branch (1.6.0) packaged with NodeJS 10.6.0.

[2018-07-20 03:11] nolazybits commented on #127
same problem here.
trying to run it on alpine

[2018-07-20 20:11] lynx12345 opened #128 "cant read config.json after make .exe"
Hi!

I read a config.json file in a node file like this:

`var config = require('./config.json');`
`console.log(config.agent + ' ' + config.initcommand);`

Work ok when I run with node, but after compiling the config values remain permant in exe file, not reading the config file when I change values.

Is there a problem reading config files like this? or I have to do it in other way?

thnks in adv

[2018-07-23 19:42] UnmeshDeshmukh commented on #127
I used the debian slim image instead of the alpine linux. It works on that image but takes lot of time

[2018-07-24 01:42] nolazybits commented on #127
thanks @UnmeshDeshmukh
I need to run on alpine so decided to go with a different lib for now

[2018-07-29 09:34] DleCu commented on #103
我是用：nodec --npm-package=appium a.exe 命令行，想把node.js的appium包打包成exe文件。环境已经配置好，但是当遇到appium安装包包含的chromedriver.exe时，发生了错误。有哪位高手，能解决node.js包里如果含有.exe的文件，使用node-packer该如何打包。打包过程的日志如下：

2001 silly diffTrees add archiver@1.3.0
2002 silly diffTrees add appium-support@2.16.1
2003 silly diffTrees add teen_process@1.12.1
2004 silly diffTrees add appium-adb@6.10.0
2005 silly diffTrees add appium-uiautomator@1.2.

[2018-07-30 07:54] xuerongzhao commented on #108
I also encountered the same problem

[2018-08-10 07:35] wind13 commented on #118
+1

So that means `nodec` only compiled the `node` and `egg-bin`? Not compile the web source code?

[2018-08-10 08:58] wind13 commented on #103
@Ni-vek I tried the command for `egg-bin` can not work.

Reproduce step like this:

[code]

After compiled, run this:

[code]

Got this error:

[code]

[2018-08-10 09:49] wind13 commented on #59
I don't think the `a.out` can work without source code. What if you try this:

[code]

And then go to temp run again:

[code]

It will get this error:

[code]

[2018-08-10 10:01] wind13 commented on #112
+1

[2018-08-17 06:51] jakehu opened #129 "放弃维护了吗？"

[2018-08-23 01:29] slee047 commented on #129
不知道。但是你可以来我的 Repo 下载一样的 nodec，只是里面的 nodeJS 是 10.9.0 (Series10 的 branch) 或者 8.11.4 (master 的 branch)：

https://github.com/slee047/node-packer

[2018-08-23 01:57] fengmk2 commented on #129
@slee047 非常给力，大家可以转移到 @slee047 的代码库中。

[2018-08-23 07:37] jakehu commented on #129
@slee047 给力

[2018-08-23 07:37] #129 closed

[2018-08-23 09:28] jakehu commented on #129
@slee047 你好能咨询两个问题么？
我在项目文件夹下运行：
项目基于`egg`
[code]
`rootDir`为当前目录
`ENTRANCE`也为当前目录
最后得到`a.out`执行文件
在执行`a.out`时出现下面错误:
[code]

[2018-08-24 01:10] slee047 commented on #129
@jakehu 不晓得，无法帮到。抱歉了。

[2018-08-24 20:18] rameres8 commented on #43
how to compress squashfs-root files

[2018-08-30 11:47] m8nky commented on #126
Same issue here at debian buster.
These are the packages installed:
apt install squashfs-tools gcc g++ clang python2.7 make

[2018-08-30 11:56] m8nky commented on #126
Solved: Just install node or nodejs - e.g. from these sources: https://github.com/nodesource/distributions

[2018-09-08 23:25] ZhouBox commented on #126
thanks

[2018-09-08 23:25] #126 closed

[2018-09-17 22:37] Slapbox commented on #83
Agh this fix got my hopes up, but unfortunately it didn't make a difference.

[2018-09-26 18:50] rraallvv opened #130 "npm installation?"
Can I install node-packer using npm?

[2018-10-05 06:08] domozhirov opened #131 "How to hide Windows command prompt after start a.exe file"

[2018-10-17 16:05] sakshitonwer opened #132 "Cannot create destination file: No such file or directory"
-> Running ["mksquashfs \"C:/Users/STonwer/AppData/Local/Temp/nodec/__work_dir__\" deps/libsquash/sample/enclose_io_memfs.squashfs"]
Could not create destination file: No such file or directory
Failed running ["mksquashfs \"C:/Users/STonwer/AppData/Local/Temp/nodec/__work_dir__\" deps/libsquash/sample/enclose_io_memfs.squashfs"]

[2018-10-19 07:35] PowerDos commented on #132
+1

[2018-10-19 07:55] PowerDos commented on #132
[code]

[2018-10-19 11:46] HafeezRai opened #133 "Linux Exceutable Decompiling"
Hi is it possible to decompile file compiled with node packer?

[2018-10-31 19:54] dev-marc-laurent commented on #108
I got the same issue and I solved that by doing the following steps:

1. Ensuring that I have the [setuptools](https://pypi.org/project/setuptools/) and [pip](https://pypi.org/project/pip/) installed
`sudo apt install python-setuptools python-pip`

2. Installing GYP (I followed these steps: https://github.com/mogemimi/pomdog/wiki/How-to-Install-GYP)

I hope this can help.

[2018-11-01 06:46] slee047 commented on #106
With the release of Node.js 10 LTS, you may come to my repo here:
https://github.com/slee047/node-packer

Look for Series 10 branch (Release 1.6.0-10.13.0 given that the Nodec itself is on 1.6.0) as the master branch was meant for Node.js 8.

[2018-11-01 06:49] slee047 opened #134 "Will there be Nodec with Node.js 10 LTS"
With LTS release, I have replaced the internal Node.js runtime to 10.13.0

Repo is here (Under Series10 branch, the master branch is for Node.js 8 until its EOL): https://github.com/slee047/node-packer

It is only tested with a simple JavaScript for a HelloWorld web page using port 8081.

[2018-11-03 21:01] ivan-leschinsky commented on #110
I'm using it with an existing option `nodec --npm=yarn`

[2018-11-08 14:40] UnmeshDeshmukh opened #137 "Getting Error - No such file or directory @ rb_sysopen"
/__enclose_io_memfs__/lib/ruby/2.4.0/fileutils.rb:1289:in `initialize': No such file or directory @ rb_sysopen - path.exe (Errno::ENOENT)

Using the command nodec src/ --skip-npm-install --quiet -o temp/ --tmpdir= ../etmp --clean-tmpdir --msi

Running this command from a linux debian package. I want to create a windows executable for the node project please let me know if that issue is fixed or no

[2018-11-09 12:12] slee047 commented on #137
Did you install gcc, g++, make, ruby?

[2018-11-09 14:44] UnmeshDeshmukh commented on #137
Yes I have installed all. I am able to generate a.out file but when I specify the option --msi it throws an error

[2018-11-12 21:07] UnmeshDeshmukh commented on #137
Yes I have installed all. I am able to generate a.out file but when I specify the option --msi it throws an error

[2018-11-29 21:01] simonwjackson commented on #134
any chance you could provide the compiled `nodec` app?

[2018-11-29 23:10] slee047 commented on #134
In my repo (https://github.com/slee047/node-packer) under “StarterKit” branch, it contains the source code of a Node.js app that can be compiled with either Node.js 8 (master branch) or Node.js 10 (Series 10 branch)

You are expected to refer to the script file (Windows and Unix) provided there as a reference on how to use nodec to compile an app.

Similarly, you will need to install the correspon

[2018-12-20 17:17] robertsLando commented on #45
Same error here like @evanchan

[code]

[2018-12-25 10:09] xxjh commented on #115
I got the same error. How to fix? Anybody can help?

[2019-01-06 19:02] kangks opened #138 "How do I separate the configuration from being compiled?"
How do I separate the JS configuration from being compiled as the executable and use different configuration in different environment for testing?

Currently the configuration JS is included in the executable and I have to compile differently for different testing environment.

Thanks!

[2019-01-06 20:14] kangks commented on #138
Ok it looks like I can pass in the path or filename of the config as runtime argument, as shown in https://speakerdeck.com/pmq20/node-dot-js-compiler-compiling-your-node-dot-js-application-into-a-single-executable?slide=36

[2019-01-07 01:04] kangks opened #139 "nodec-v1.5.0-x64 throw errors "No such file or directory - node -pe process.arch""
I have a Windows 2016 with AMD EPYC 7571, 64GB RAM. I also have these in the PATH

- mksquashfs v 4.3
- node v8.15.0
- Python 2.7.15

But when I run the `nodec`, it straights away give me the error below, what else dependencies have I missed?

I have the same installations on Windows 10 and it works fine, could it be the AMD or Windows Server 2016?

[code]

[2019-01-18 04:00] crazy-cats commented on #83
Try adding an option `--disable-fileinfo` after the `configure` command is a way to solve this issue.

[2019-03-08 06:46] ferocknew commented on #129
作者还在吗

[2019-03-13 11:31] yoyokko commented on #115
https://github.com/pmq20/node-packer/issues/83#issuecomment-344610424
看这个答案

[2019-03-13 11:33] yoyokko commented on #119
https://github.com/pmq20/node-packer/issues/83#issuecomment-344610424
看这个答案

[2019-03-13 11:34] yoyokko commented on #34
https://github.com/pmq20/node-packer/issues/83#issuecomment-344610424
看这个答案

[2019-04-05 19:21] saurabh-deep opened #140 "How to build nodec for Window?"
Hi, Can someone please guide me on how to create a new nodec executable for Windows? I have been able to build for MacOS using ruby-packer, but am unable to proceed with Windows. In need of urgent help please.

[2019-04-18 04:59] zaoqi-unsafe opened #141 "支持arm等 吗？"

[2019-04-24 09:11] slee047 commented on #140
Do you mean building a single nodec executable file like the downloads from:
http://enclose.io/nodec

[2019-04-24 09:13] slee047 commented on #134
I think I misunderstood your question earlier on. If you mean a single executable nodec that compiles all other Node.js project, then no because the instruction for it is just not there.

[2019-04-24 09:16] slee047 commented on #129
您好，请你试试看 https://github.com/slee047/node-packer/releases/tag/1.6.0-10.15.3-1

Node.js 10.15.3，我刚刚发现诸多 nodec 1.6.0-10.Y.Z 的之前都不能使用 Native module。刚刚修正了，不晓得是否对这个问题有帮助。

另外，请查看：
https://github.com/slee047/node-packer/issues/9

我偶然发现到你们俩都和 Egg.js 有关啊。

[2019-04-24 09:17] slee047 commented on #122
permission issue? chmod u+x

[2019-04-24 09:19] saurabh-deep commented on #140
Yeah. That was the goal. I even managed to build the nodec for Mac using ruby-packer (rubyc), but failed to do so for Windows.

[2019-04-24 09:28] slee047 commented on #114
Did you installed Visual Studio (Community) 2015 or 2017?

[2019-04-24 09:32] saurabh-deep commented on #140
Exact steps mentioned here worked for me on macOS but on Windows it fails with compile-time errors - https://github.com/adobe/node-packer/blob/master/BUILD_INSTRUCTIONS.md

[2019-06-14 00:50] VincentWuShiChao commented on #129
@slee047 我也是打包的egg项目，但是打包好之后，在当前项目根目录下执行a.out确实能启动项目，但是好像他依赖app文件夹，以及node_modules文件夹，但是要是依赖app文件夹的话，那打包的意义也就没有了，是有什么样的配置吗

[2019-06-14 01:22] VincentWuShiChao commented on #103
@YYago
你的第二个问题，那个放到其他路径就各种找不到的问题解决了吗

[2019-06-14 09:23] YYago commented on #103
@VincentWuShiChao

以前是不太了解node.js的模块引用关系。现在的话会好些吧：

1.  明确入口文件。前面JesseWo 提到的https://github.com/pmq20/node-packer/issues/103#issuecomment-388576143（这点能解决找不到package的问题）:

2.  项目引用的模块文件应该均在项目根目录下，某些第三方`.exe`程序应当做通用性处理，比如puppeteer这种包——在代码中应该使用用户电脑的通用chrome浏览器启动程序所在路径，而不是当前puppeteer包所安装的Chromium，并在构建时跳过安装：`--skip-npm-install`。比如前面 @DleCu DleCu 提到的https://github.com/pmq20/node-packer/issues/103#issuecom

[2019-06-14 10:08] VincentWuShiChao commented on #103
@YYago
我的打包的是egg项目，然后指定的入口文件是:
[code]
最后打包也能成功，在项目根目录下启动a.out文件也能正常启动项目，但是
1. 单独把a.out文件放的一个其他独立的位置再执行就会出现node_modules找不到
2. 或者找不到路由的情况
您有类似的经历没有

[2019-07-17 01:53] johnboomi opened #142 "i don't know how to install Linux operating system"

[2019-07-17 01:54] johnboomi commented on #142
i don'tkonw how to installing Linux os

[2019-07-30 17:45] treyvfromlbc commented on #83
How do you do that?

[2019-07-31 01:58] zengliwei commented on #83
Storing file info may waste many virtual memory, just disable it is fine.

Add the option `--disable-fileinfo` on running `configure` command:
[code]

[2019-08-16 18:27] adamgotterer commented on #116
Did you ever figure out how to make it work?

[2019-08-17 14:38] sido420 commented on #83
where and when do you run ./configure?

[2019-08-19 01:37] zengliwei commented on #83
yes.

[2019-09-05 00:34] darkguy2008 opened #143 "Windows version does not work (Win10, nodec 1.5.0 x64)"
So I downloaded it and I get this:

[code]

That's too bad though, it looked really promising.

Any pointers?

Thanks!

[2020-02-18 04:31] liudonghua123 commented on #143
I have the same issue. I use Win 10 1909, and installed python 2.7, visual studio 2017, add nodec and SquashFS path. From the error message, it may have problems with ruby?

[code]

[2020-04-07 09:11] jxycbjhc commented on #108
2020年了，还有老铁预见这种问题吗？

[2020-04-15 09:04] aemonge commented on #114
In  my case is with the 2017 version

[2020-05-04 09:13] saurabh-deep opened #145 "Can we resurrect node-packer to get it working with latest Node.js versions?"
Hey @pmq20! Hope you are doing well.

Is there a possibility of resurrecting this project? It has been a very popular project with some forks even managing to get this working till Node10. But it seems we are at the end of the road as I am not aware if anyone has had any success with Node12.

There are not many other options available to create Node.js binary and all of them have issues with the O

[2020-05-06 10:16] saurabh-deep commented on #145
@pmq20 - I thought more about it and I feel that it can also be a viable option to pass on the knowledge to the community so that someone from the community can carry forward this great tool. Thoughts?

[2020-06-03 06:19] saurabh-deep commented on #145
Hello @pmq20! I remember you mentioning on the Node 10 PR about working on upgrade to Node 12. Just wanted to follow up on the same. Do you have an approx time frame in mind for that? Would very much appreciate your response on this. :-)

[2020-08-18 12:11] saurabh-deep commented on #145
Hey @pmq20! I had been looking forward to getting the Node12 support after your comment on the Node10 PR. But I just noticed in the about section that this repository has stopped maintenance.

Does that mean this project is officially dead? I hope NOT. If yes, it is very unfortunate. There are no active forks also.

There are a few options available to generate Node.js binary like pkg, nexe etc. B

[2020-08-18 18:07] pmq20 commented on #145
@saurabh-deep Your feedback brings a lot of encouragement. I really appreciate it. I previously put up the stop-maintenance notice because there seems to be no time to maintain it due to my weekday work. But it does appear that the project is still relevant and many people wnat to use it. Let me start resurrecting it this weekend (because of work I can only work on it in the weekends). I think the

[2020-08-18 18:50] saurabh-deep commented on #145
@pmq20 - Best news I have had in a while. 😄

v14 is great! We will also need v12 - but surely, that can come later. **Please do let me know if I can help in any way.**

These are some the node-packer positives which aren't to be found in any other packaging solution -

1. No custom coding and adjustments needed. All the node code and npm dependencies work as they are (at least for me).
1. Fairly s

[2020-08-24 21:51] pmq20 commented on #145
@saurabh-deep Yeah, as a user one should probably need to wait a little since the current changes are a WIP; unless one wish to try out the bleeding edge and contribute to the WIP development.

Yeah that is pretty much the steps. To compile all the new stuff into a new version of `nodec` (standalone binary), you need to use [Ruby Packer](https://github.com/pmq20/ruby-packer). Otherwise you can jus

[2020-09-08 07:50] saurabh-deep commented on #145
@pmq20 - I will be compiling my binary with `Node 12` this week. For that, I will try to use the `lts` folder and use ruby command for the compilation since `nodec` is not packed yet. I will let you know how that goes. Keeping the fingers crossed. Thank you very much for bringing it thus far.

[2020-09-08 18:21] pmq20 commented on #145
@saurabh-deep There is probably some errors when running that needs to be fixed. I plan to use some coming weekends to fix then. Also, if possible, could you share the project that you were trying to pack, so that I can use it as a reference to test the packing process?

[2020-09-08 18:57] saurabh-deep commented on #145
@pmq20 - My project is in a private (company-owned) GitLab repository, which I am not authorised to share, unfortunately. Apologies for this! But I will setup a similar public project on GitHub that you can use as a reference. I should be able to set this up over the weekend.

For the errors that you mentioned, please let me know whenever you get a chance to work on them. I will be more than happy

[2020-09-08 23:18] pmq20 commented on #145
@saurabh-deep  Thanks for the reply. No problems. I'll work on `lts` first this weekend. Looking forward to the public repo.

[2020-09-11 00:58] YYago commented on #145
* Branch: master;
* Env: Windows 10 Pro 64; Ruby-2.6.3

Bat:
[code]

Log:

[code]

[2020-09-13 02:27] cheongpeibin opened #151 "Assertion `backup_off == lseek_off' failed."
Hi guys, I am facing a crash when the binary is run as a binary in Ubuntu.

My workflow is the binary will be placed in a ubuntu:20.10 docker image, and then a supervisord process will run the compiled node-packer binary.

The issue is when there is a lot of usage, the binary will crash with the message:
../deps/libsquash/sample/enclose_io_unix.c:459: enclose_io_pread: Assertion `backup_off == lse

[2020-09-13 02:29] cheongpeibin opened #152 "how to use the latest source code to build binary, instead of using the old 1.5.0 version?"
I am wondering how can I use the latest source code to build a binary, I can't seem to find the instructions in readme page.

[2020-09-20 01:01] pmq20 commented on #152
@cheongpeibin Hi Pei Bin, I have updated the README to include procedures to try out the latest source code. However, the latest `master` is probably still buggy. I'm working on make it work.

|    OS     | Arch. |                               Executable                                      |
|:---------:|:-----:|-------------------------------------------------------------------------------|
|

[2020-09-20 01:14] pmq20 commented on #151
@cheongpeibin Hi Pei Bin, thank you for reporting the issue. I briefly looked at the line. It appeared that the code there is trying to read the current offset, record it in "backup_off", and then perform the pread. After the pread is performed, the code appears to be resuming the current offset from "backup_off". Apparently a lock / mutex is missing if this code was to run concurrently. This matc

[2020-09-20 01:17] pmq20 commented on #141
Currently only x64 is supported. I personally do not have a ARM/armhf machine, yet. Help from other people and Pull Requests are welcome! Meanwhile I plan to personally purchase a raspberry pi 3 soon.

[2020-09-20 02:44] cheongpeibin commented on #151
@pmq20 Hi Minqi, thank you for your response. Appreciate your time looking at this! I'll keep an eye on the update. =D

[2020-09-20 02:47] cheongpeibin commented on #152
@pmq20 Hi Minqi, noted on this. Thanks for the swift response.

[2020-09-27 22:55] saurabh-deep commented on #145
Hi @pmq20 - Apologies for the delay due to some health issues in the past couple of weeks. I have now set up this [test CLI project](https://github.com/saurabh-deep/node-cli-test) which you can use to test binary compilation. I haven't been able to set up GitHub Action for this as of yet, but I tried the latest node-packer code to build the binary on my local Mac and Windows, and in an ubuntu dock

[2020-09-28 07:29] saurabh-deep commented on #145
Hello @pmq20 - I forgot to include the Windows error that I am receiving when building from node-packer source using Ruby command. For Linux and Mac OS, I shared the same in my previous message.

**Windows error:**

Creating library out\Release\mkcodecache.lib and object out\Release\mkcodecache.exp
enclose_io_libsquash.lib(enclose_io_win32.obj) : error LNK2019: unresolved external symbol __imp_Pat

[2020-10-09 00:53] pmq20 commented on #145
@YYago @saurabh-deep Thanks for reporting! The `master` is an unfinished work in progress. Let me find time to finish it soon.

[2020-10-09 00:55] pmq20 commented on #145
Is it possible to downgrade macos-10.15 to macos-10.14 in the GH Action workflow? I read GH's document and it appears that only 10.15 was provided. Maybe 10.14 would be there if I just declare `os: [macos-10.14]`. Let me try it.

[2020-10-09 00:56] pmq20 commented on #145
@saurabh-deep Also thank you for setting up the repository! I'll use it soon. I was too busy with some other chores in my life recently.

[2020-10-09 07:57] saurabh-deep commented on #145
Thanks for checking this @pmq20. I also verified and it seems they have removed `macos-10.14` virtual environment, which was available earlier.

Please let me know if you need write access to this repository or the two dependency package repositories. These have created specifically for testing binary creation, so there are at your disposal - whichever way you want to use them. And we all have oth

[2020-10-16 11:53] saurabh-deep commented on #145
Hi @pmq20 ! Hope you are doing well. Just wanted to let you know that I will be available to help you over this weekend, if you need.

We have been trying to make changes in the node-packer hacks in `lts` to  make this work for us. But have been largely unsuccessful.

[2020-11-18 09:47] saurabh-deep commented on #145
Hi @pmq20 - I wanted to ping here to check if everything is fine with you and if it is going to be possible for you to look into the issues reported above with the latest node-packer (lts and current)?

[2020-11-18 15:01] NexZhu commented on #145
Just want to share that with commit `a13e024771beaf86dd2b283987c8dad6ef55e15f` of this repo, I've successfully build my project with Node.js v12.13.0. Using the latest commit of this repo has failed.

On the other hand, I haven't found a rev of this repo which works for Node.js v14 so I'm also waiting for that.

[2020-11-19 06:51] saurabh-deep commented on #145
Thanks for sharing @NexZhu. We are in need of Node v12 only at the moment. We can wait for Node v14 for a bit longer. I will it a go using the commit id that you mentioned and share the updates here.

[2020-12-04 21:52] PureSpider commented on #145
I'm also getting the "unresolved external symbol __imp_PathMatchSpecA referen
ced in function EncloseIOFindFirstFileHelper" error.

Any news on this yet?

[2020-12-05 11:57] paldier opened #155 "../deps/uv/include/uv.h:37:10: fatal error: enclose_io.h: No such file or directory"
os:ubuntu-20.04
libncurses-dev:6.2-0ubuntu2
squashfs-tools:1:4.4-1
Python 2.7.18
gcc9.3.0
--lts and --current
`../nodec bin/homebridge -o linux -a mips` or `../nodec bin/homebridge -o linux -a mipsel`

`../deps/uv/include/uv.h:37:10: fatal error: enclose_io.h: No such file or directory`

`../nodec bin/homebridge -o linux -a arm` or `../nodec bin/homebridge -o linux -a arm64`

`../deps/openssl/open

[2021-01-04 15:01] saurabh-deep commented on #145
Hello @pmq20 - Happy New Year! I hope you have had time to sort out the stuff you were going through previously. I am very excited as I saw a commit from you in this repo over the weekend (after a few months) -- Read me only 😃 . Do you think you will be able to spend some time on the node-packer now to resolve the issues we are facing with Node 12 and 14? If only, any of us knew enough C, we would

[2021-01-04 23:20] pmq20 commented on #145
@saurabh-deep Sorry but I do not think I have the time to maintain the project. I am willing to add anybody who wishes to maintain the project as a collaborator of the repo.

[2021-01-05 07:10] saurabh-deep commented on #145
@pmq20 This is sad and heart-breaking, but understandable. There was no other tool that came anywhere close to node-packer. It is such a shame that I don't have what it takes to maintain this project, as it requires comprehensive C expertise.

Do you think we can get on a call to discuss the issues and the options?

[2021-01-06 17:47] Asp3ctus commented on #145
this project is realy needs a second or a third life...
@roytan883 and @slee047 were almost succesfull with updating to 12 series ... it compiles and runs, but network sockets close after 1-3 seconds.... on ubuntu 18

I decided to try it again on ubuntu 20.04 and a test http script was succesful on https://github.com/slee047/node-packer/tree/TestSeries12 branch  which it based on 12.13.0 nodejs ..

[2021-01-10 04:30] Asp3ctus commented on #145
Well i tried to mentioned above fork/branch with my project and it is not realy working.
The connection to postgres is droped, and files which are outsite the __enclose_io_memfs__ can not be accessed  ...

i hope node-packer can be resurrected, so far i can not find any alternative which would work like this, but it has it down sides (unpredictible Segmentation Faults)

[2021-01-10 15:25] saurabh-deep commented on #145
Thank you @Asp3ctus for sharing your findings. Like I said earlier, it is heart-breaking to see node-packer come to a close. I don't know anyone with the kind of C knowledge that seems to be required here, or I would ask them for help.

The way things stand right now, it is completely dependent on @pmq20. I wish he had some time to look into node-packer, only once in a while. If the current issues

[2021-01-18 04:24] roytan883 commented on #145
@Asp3ctus  Actually i think i resolved the sockets and file problem on Ubuntu 16.04 and 18.04. The 20.04 may work which i have not tested. My modified version is nodejs v12.18.2. The way of fix it i think can be apply to all new v12.x of nodejs.
Because my project only support Ubuntu server now, so i can only guarantee it worked on Ubuntu platform.

@pmq20  The method to solve sockets and file pro

[2021-01-18 05:32] saurabh-deep commented on #145
@roytan883 - That's awesome to know that you have been able to identify the problem. Can you please share where the updated code is so that I can also give it a go?

Thanks much!
Saurabh

[2021-01-19 16:24] saurabh-deep commented on #145
@roytan883 / @Asp3ctus - Can you please help me with the updated code, folks - a version with the above mentioned changes? Looking forward to test these on Mac OS and Windows too.

[2021-02-06 13:44] sido420 commented on #152
any updates on this?

[2021-02-10 18:44] Asp3ctus commented on #145
@saurabh-deep - Hi, i have not yet tried to folow @roytan883 instructions yet. I will actualy try it next week,
@roytan883 can you please, commit the changes you made to fix this issue ? I will be testing it on Linux

[2021-02-15 14:00] Asp3ctus commented on #145
Well i tried to apply changes, mentioned above, but the build resulting test app did not start the execution of js code, so i was unsuccessful with this changes

[2021-03-10 06:03] zoe-icu commented on #155
你解决了么 我也有相同的报错

[2021-04-18 04:03] yumao233 opened #156 "Can the packaged executable file effectively protect the source code?"
I hope to avoid leaking the JavaScript source code. I wonder if the packaged executable program can avoid this?

[2021-04-21 10:06] mister-perfect commented on #156
I do not think the executable file would protect the source code. The data of the squashfs image is just a C array:
`const uint8_t enclose_io_memfs[#{bytes.size}] = { #{bytes[0]}"`.
The hacker could decompile, extract these bytes then `mount xxx.sqsh /mnt/xxx`. All codes is here.

@Suwings

[2021-04-21 10:39] Suwings commented on #156
thank you for your reply.

Is the code obtained in this way readable Javascript? If it is difficult to understand Javascript code is also acceptable. Or are there other more ways to get readable Javascript code?

@mister-perfect

[2021-04-23 07:31] #156 closed, assigned to nobody

[2021-06-23 08:35] zhex900 commented on #143
I have the same issue

[2021-08-08 15:52] amunhoz commented on #155
same here.

[2021-09-03 05:25] BigCatGit commented on #155
我也有相同的报错, 没解决

[2022-02-18 20:55] suntong opened #159 "fatal error: Killed signal terminated program cc1"
whenever I build it, I'm getting the following error:

`fatal error: Killed signal terminated program cc1`

On several _different_ projects, including the one from help:

    git clone --depth 1 https://github.com/eggjs/examples.git
    cd examples/helloworld
    npm install
    time nodec node_modules/egg-bin/bin/egg-bin.js

I have also tried on _**three**_ of my _different_ machines, all failed

[2022-02-18 21:22] suntong opened #160 "fatal error: enclose_io.h: No such file or directory"
I'm getting the `fatal error: enclose_io.h: No such file or directory` error when using the the Unstable Pre-release:

[code]

Here is a minimum-set to duplicated the problem, a Dockerfile file, so we won't have a _it-works-for-me_ case.

[code]

The log will be in the `typescript` file of the built image.

[2022-02-18 21:35] suntong commented on #159
the Unstable Pre-release ended up with [another error](https://github.com/pmq20/node-packer/issues/160), so

I re-confirmed the problem with a minimum-set to duplicated the problem, a Dockerfile file, so we won't have a _it-works-for-me_ case.

[code]

The log is in the `typescript` file of the built image, if you need it.

thanks

[2022-02-18 21:54] suntong commented on #155
I've prepared a minimum-set to duplicated this problem. See #160.

[2022-02-18 21:59] suntong commented on #129
Oh, I should have checked here first. So my last two days have been wasted then. So sad...

[2022-07-07 12:11] WxBoxOnline commented on #143
Ditto... same issue.

Is there ANY resolution?

Or is this project now abandoned?